﻿<!-- BEGIN PAGE CONTENT-->
<div class="portlet light">
    <div class="portlet-title">
        <div class="caption caption-md">
            <span class="caption-subject bold theme-font-color uppercase">{{$state.current.data.pageTitle}}</span>
        </div>
        <div class="actions pull-right" style="padding-right:unset !important">
            <button type="button" class="btn btn-sm default" ng-click="Button.Reload.Click()">
                <i class="fa fa-refresh"></i>
                <span>{{Button.Reload.Title}}</span>
            </button>
            <button type="button" class="btn btn-sm btn-primary hidden" id="submitcong" ng-click="saveRightOfUser()">
                <i class="fa fa-save"></i>
                <span>Cập nhật</span>
            </button>
        </div>
    </div>
    <div class="portlet-body">
        <div class="row">
            <!-- BEGIN PAGE CONTENT-->
            <div class="col-md-4 col-lg-4">
                <fieldset class="height-80-vh">
                    <legend class="uppercase">Người dùng/Hệ thống</legend>
                    <div class="form-group">
                        <label class="control-label">Chọn người dùng</label>
                        <ui-select tabindex="1"
                                   ng-model="DropDownList.User.Model"
                                   ng-change="DropDownList.User.SelectedChange()"
                                   theme="bootstrap">
                            <ui-select-match placeholder="-- Chọn người dùng --">{{$select.selected.UserName}}</ui-select-match>
                            <ui-select-choices repeat="user in DropDownList.User.Data | filter: $select.search">
                                <div ng-bind-html="user.UserName | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group">
                        <label class="control-label">Chọn hệ thống truy cập</label>
                        <ui-select tabindex="2" allow-clear="true" close-on-select="true"
                                   ng-model="DropDownList.Application.Model"
                                   ng-change="DropDownList.Application.SelectedChange()"
                                   theme="bootstrap">
                            <ui-select-match placeholder="-- Chọn hệ thống quản trị --">{{$select.selected.SiteName}}</ui-select-match>
                            <ui-select-choices repeat="item in DropDownList.Application.Data | filter: $select.search">
                                <div ng-bind-html="item.SiteName | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group">
                        <label class="control-label">Chọn nhóm quyền</label>
                        <div class="row">
                            <div class="col-md-10 padding-right-none">
                                <ui-select ng-model="DropDownList.Role.Model" theme="bootstrap" tabindex="2" allow-clear="true" close-on-select="true">
                                    <ui-select-match placeholder="-- Thêm nhóm quyền --">{{$select.selected.RoleName}}</ui-select-match>
                                    <ui-select-choices repeat="role in DropDownList.Role.Data | filter: $select.search">
                                        <span ng-bind-html="role.RoleName | highlight: $select.search"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <div class="col-md-2 padding-left-5">
                                <button type="button" ng-click="Button.AddRole.Click()" title="Thêm nhóm quyền cho người dùng" class="btn btn-primary btn-md btn-block"><i class="fa fa-plus" aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group">
                        <label class="control-label">Nhóm quyền hiện tại :</label>
                        <div id="folderTree" style="border: 1px Solid #e3e3e3; max-height: 350px; min-height: 100px; overflow-x: auto;" ng-if="TreeView.Role.Data.length > 0">
                            <div class="tree tree-plus-minus tree-no-line tree-unselectable" style="overflow:auto">
                                <div class="tree-folder" style="background: #FAFAFA;" ng-repeat="role in TreeView.Role.Data">
                                    <div class="tree-folder-header"
                                         data-ng-click="filter(role)"
                                         data-ng-class="role.CssStyle"
                                         ng-mouseenter="ShowDelete=true"
                                         ng-mouseleave="ShowDelete=false">
                                        <div class="pull-right"><i ng-show="ShowDelete" style="color:orangered" class="fa fa-lg fa-trash" ng-click="Button.DeleteRole.Click(role)" data-stop-event></i></div>
                                        <div class="tree-folder-name">
                                            {{ role.RoleName }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="col-md-6 col-lg-6">
                <fieldset class="height-80-vh">
                    <legend class="uppercase">Quyền người dùng</legend>
                    <!-- RIGHT Tree view -->
                    <script type="text/ng-template" id="treeItem">
                        <div class="tree-folder-header">
                            <!--<span ng-class="right.IsCollapse && right.SubRights.length>0 ? 'glyphicon glyphicon-expand':'glyphicon glyphicon-collapse-down'" ng-show="right.IsGroup" ng-click="TreeView.Right.Collapse(right)"></span>-->
                            <i ng-class="right.IsCollapse && right.SubRights.length>0 ? 'fa fa-plus-square':'fa fa-minus-square'" style="text-align:center;min-width: 9px" ng-show="right.IsGroup" ng-click="TreeView.Right.Collapse(right)"></i>
                            <div class="tree-folder-name">
                                <!--<span ng-if="!right.Status" class="text-muted" title="Không hoạt động"><i class="fa fa-minus-circle"></i></span>-->
                                <label ng-class="{'bold':right.IsGroup,'text-through':!right.Status}" class="mt-checkbox mt-checkbox-single mt-checkbox-outline margin-bottom-none" style="padding-left:25px !important;{{right.CssStyle}}">
                                    <input type="checkbox" class="mt-check" ng-model="right.Checked" ng-change="CheckBox.Right.CheckChange(right)" ng-disabled="!right.Status">
                                    {{right.RightName}}
                                    <span ng-hide="!right.SubRights.length>0 && right.IsGroup"></span>
                                </label>
                                <!--<span ng-if="!right.IsGroup" style="color:#ff0000b0" ng-click="Button.Delete.Click(right)" class="pull-right padding-right-10"><i class="fa fa-trash"></i></span>-->
                            </div>
                        </div>
                        <div class="tree-folder-content" ng-show="right.SubRights.length>0 && !right.IsCollapse">
                            <div ng-repeat="right in right.SubRights | filter:TreeView.Right.FilterText" ng-include="'treeItem'"></div>
                        </div>
                    </script>
                    <div id="right-tree" class="tree tree-plus-minus tree-no-line tree-unselectable">
                        <div>
                            <!--<a style="text-decoration:none" ng-click="TreeView.Right.SelectAll()" class="font-12">{{TreeView.Right.IsSelectAll?'Bỏ tất cả':'Chọn tất cả'}}</a>&nbsp;
                            |&nbsp;-->
                            <a style="text-decoration:none" ng-click="TreeView.Right.CollapseAll()" class="font-12">{{TreeView.Right.IsCollapseAll?'Mở rộng':'Thu gọn'}}</a>      
                        </div>
                        <div class="input-icon right" style="border-radius: 0;margin-bottom: 7px; ">
                            <i class="icon-magnifier"></i>
                            <input type="text" class="form-control input-sm" ng-model="TreeView.Right.FilterText" placeholder="Tìm kiếm">
                        </div>

                        <div id="right-tree-item" class="tree-folder">
                            <div ng-repeat="right in TreeView.Right.Data | filter:TreeView.Right.FilterText" ng-include="'treeItem'"></div>
                        </div>
                    </div>

                    <!--<label class="control-label">Danh sách quyền :</label>
                    <div ng-hide="Selected.User==null">
                        <div ng-repeat="right in ListRights | filter : {Description:'SHOW'}" class="col-md-6">
                            <div class="checker">
                                <span ng-class="right.Check?'checked':''">
                                    <input type="checkbox" ng-model="right.Check" ng-change="selectRight(right)" class="checkboxes" />
                                </span>
                            </div>
                            <a href="" ng-click="openRightOfUserInfo(right)" style="font-weight:bold;{{right.CssStyle}}">{{right.RightName}}</a>
                        </div>
                    </div>-->
                </fieldset>
            </div>
        </div>
    </div>
</div>
