﻿<div class="modal-content cmodal">
    <div class="modal-header" style="background-color:red !important">
        <span class="modal-title">
            <span>{{Title}}</span>
        </span>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div class="font-14 margin-bottom-20 padding-10">
                    {{Message}}
                </div>
                <div class="margin-bottom-10 text-muted">Vui lòng <a href="{{Url}}">click vào đây</a> nếu hệ thống không tự chuyển sau quá 15 giây</div>
            </div>
        </div>
    </div>
    <div class="modal-footer" ng-if="ButtonConfirm !== ''">
        <button class="btn btn-sm btn-primary" ng-click="Confirm()" autofocus ng-if="ButtonConfirm !== ''"><i class="fa fa-check"></i> {{ButtonConfirm}}</button>
    </div>
</div>
