﻿<div class="modal-content cmodal">
    <div class="modal-header">
        <a href="javascript:;" ng-click="Cancel()" class="modal-close" aria-hidden="true"><i class="fa fa-close"></i></a>
        <span class="modal-title">
            <span>{{FormMode}} danh mục</span>
        </span>
    </div>
    <div class="modal-body">
        <form ng-submit="Save()" name="MyForm">
            <fieldset>
                <legend class="font-14 text-bold">
                    <span>THÔNG TIN CHUNG</span>
                </legend>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Tên danh mục<span class="required">(*)</span></label>
                            <div>
                                <input required ng-maxlength="255" name="itemName" id="txtName" ng-focus="true" ng-model="Item.Name" type="text" ng-change="ChangeName()" class="form-control input-sm" />
                                <!-- ng-keyup="validName(Item.Name)" -->
                                <div class="has-error" ng-show="MyForm.itemName.$dirty||MyForm.$submitted">
                                    <small class="has-error" ng-show="MyForm.itemName.$error.required">
                                        Bạn cần nhập tên danh mục
                                    </small>
                                    <small class="has-error" ng-show="MyForm.itemName.$error.maxlength">
                                        Bạn đã nhập quá 255 ký tự
                                    </small>
                                    <small class="has-error" ng-show="validateForm.validName">
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Danh mục cha</label>
                            <div>
                                <ui-select ng-model="Item.ParentTermId" allow-clear="true" close-on-select="true" title="Select parent catalog" style="width: 100%" theme="selectize">
                                    <ui-select-match placeholder="---Không có danh mục cha---">
                                        {{$select.selected.Name}}
                                    </ui-select-match>
                                    <ui-select-choices repeat="item.TermId as item in ListCatalogData | filter: $select.search">
                                        <span ng-bind-html="item.Name | highlight: $select.search"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Mã danh mục<span class="required">(*)</span></label>
                            <div>
                                <input required name="itemCode" pattern="[\x00-\x7F]*" ng-maxlength="255" ng-model="Item.Code" type="text" class="form-control input-sm" ng-readonly="Mode=='edit'" />
                                <div class="has-error" ng-show="MyForm.itemCode.$dirty ||MyForm.$submitted">
                                    <small class="has-error" ng-show="MyForm.itemCode.$error.required">
                                        Bạn cần nhập mã danh mục
                                    </small>
                                    <small class="has-error" ng-show="MyForm.itemCode.$error.maxlength">
                                        Bạn đã nhập quá 255 ký tự
                                    </small>
                                    <small class="has-error" ng-show="MyForm.itemCode.$error.pattern">
                                        Mã danh mục nhập không dấu
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Số thứ tự</label>
                            <div>
                                <input name="itemOrder" ng-model="Item.Order" type="number" min="0" value="0" ng-pattern="/^[0-9]{1,7}$/" class="form-control input-sm" />
                                <div class="has-error">
                                    <small class="has-error" ng-show="MyForm.itemOrder.$error.pattern">Số thứ tự không hợp lệ!</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Trạng thái</label>
                            <div>
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input type="checkbox" class="checkboxes" ng-model="Item.Status" ng-true-value="1" ng-false-value="0">
                                    <span></span>
                                </label>
                                <span class="label label-xs label-success" ng-if="Item.Status==1">Hoạt động</span>
                                <span class="label label-xs label-danger" ng-if="Item.Status==0">Không hoạt động</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label">Ghi chú</label>
                            <div>
                                <textarea ng-model="Item.Description" class="form-control" rows="3"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>

        </form>
        <div class="clearfix"></div> <br />
        <fieldset>
            <legend class="font-14 text-bold">
                <span>DANH SÁCH METADATA</span>
            </legend>
            <table class="table margin-top-none">
                <thead>
                    <tr>
                        <td>
                            <div class="pull-right">
                                <span ng-show="SubMode==1">
                                    <span ng-show="ListMode == 0">
                                        <a href="javascript:void(0)" class="btn btn-primary btn-sm" ng-click="Formly.AddMetadataField()">
                                            <i class="fa fa-plus"></i> Thêm
                                        </a>
                                        <a href="javascript:void(0)" class="btn btn-primary btn-sm" ng-click="Formly.SelectMetadataField()">
                                            <i class="fa fa-list-alt"></i> Chọn từ danh sách
                                        </a>
                                        <a href="javascript:void(0)" class="btn btn-danger btn-sm" ng-click="Formly.DeleteMulti()" ng-if="ListSelectedFormly.length>1">
                                            <i class="fa fa-trash-o"></i> Xóa đã chọn
                                        </a>
                                    </span>
                                    <button type="button" class="btn btn-sm btn-primary margin-none" ng-click="GoToDesignForm()"><i class="fa fa-object-group"></i> Thiết kế</button>
                                </span>
                                <span ng-show="SubMode==0">
                                    <button type="button" class="btn btn-sm btn-primary margin-none" ng-click="OutDesignForm(true)"><i class="fa fa-save"></i> Lưu</button>
                                    <button type="button" class="btn btn-sm btn-warning" ng-click="OutDesignForm(false)"><i class="fa fa-ban"></i> Đóng</button>
                                </span>
                            </div>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-show="SubMode==1">
                        <th>
                            <table class="table table-striped table-hover dataTable table-bordered">
                                <thead>
                                    <tr style="background-color: #eeeeee;" ng-show="ListMode == 0">
                                        <th class="table-checkbox sorting_disabled" rowspan="1" colspan="1" aria-label="" style="width: 24px;">
                                            <div class="checker">
                                                <span ng-class="SelectAllFormly?'checked':''">
                                                    <input type="checkbox" class="group-checkable" ng-click="SelectAllItemFormly()" ng-model="SelectAllFormly">
                                                </span>
                                            </div>
                                        </th>
                                        <th style="width: 24px;">
                                            <a href="javascript:;">STT</a>
                                        </th>
                                        <th ng-repeat="header in HeadersFormly" width="{{header.Width}}" align="{{header.Align}}" ng-class="GetItemHeaderClassFormly(header)"
                                            ng-click="ClickToHeaderFormly(header)">
                                            <a href="javascript:;">{{header.Value}}</a>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="data in ListFormlyMetadataField" ng-class="data.Selecting?'selected':''" ng-show="ListMode == 0">
                                        <th rowspan="1" colspan="1" aria-label="" style="width: 24px;">
                                            <div class="checker">
                                                <span ng-class="data.Selecting?'checked':''">
                                                    <input type="checkbox" ng-click="SelectItemFormly(data)" ng-model="data.Selecting" class="checkboxes">
                                                </span>
                                            </div>
                                        </th>
                                        <td align="center">
                                            <a href="javascript:;" uib- uib-tooltip="Đổi vị trí" ng-click="Formly.MoveTo(data)">{{$index +1}}</a>
                                        </td>
                                        <td>
                                            <div class="margin-bottom-5">
                                                <a href="javascript:void(0)" class="item-title">{{data.Name}} </a>&nbsp;&nbsp;
                                                <small class="badge badge-info" ng-if="data.IsFormlyCommonMetadataField"> <small>HS</small> </small>
                                            </div>
                                            <div class="margin-bottom-5">
                                                <span class="text-muted"><strong>Loại hiển thị :</strong> {{data.FormlyContentObj[0].data.name}}</span>                                                        &nbsp;|&nbsp;
                                                <span class="text-muted"><strong>Kiểu dữ liệu :</strong> {{data.FormlyContentObj[0].data.dbType}}</span>
                                            </div>
                                            <div class="margin-bottom-5">
                                                <small class="text-muted">
                                                    <span>Hiển thị :</span>
                                                    <span title=""><i class="fa text-muted" ng-class="data.DisplayCatalog?'fa-check-square-o':'fa-square-o'"></i> Danh mục</span>&nbsp;&nbsp;
                                                    <span title=""><i class="fa text-muted" ng-class="data.DisplayReport?'fa-check-square-o':'fa-square-o'"></i> Báo cáo</span>&nbsp;&nbsp;
                                                    <span title=""><i class="fa text-muted" ng-class="data.DisplayReportSearch?'fa-check-square-o':'fa-square-o'"></i> T.kiếm báo cáo</span>&nbsp;&nbsp;
                                                    <span title=""><i class="fa text-muted" ng-class="data.DisplayReport?'fa-check-square-o':'fa-square-o'"></i> Độc giả</span>&nbsp;&nb
                                                    sp;
                                                    <span title=""><i class="fa text-muted" ng-class="data.DisplayReaderSearch?'fa-check-square-o':'fa-square-o'"></i> T.kiếm độc giả</span>&nbsp;&nbsp;
                                                </small>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="well-sm zoom-85">
                                                <formly-form fields="data.FormlyContentObj" model="data.Data">
                                                </formly-form>
                                            </div>
                                        </td>
                                        <td>
                                            <button type="button" uib-tooltip="Sắp xếp" class="btn btn-sm btn-circle btn-icon-only" ng-class="Formly.GetSortClass(data)" ng-click="Formly.Sort(data)"><i class="fa fa-exchange"></i> </button>
                                            <button type="button" class="btn btn-sm btn-circle btn-primary" ng-click="Formly.Update(data)"><i class="fa fa-edit"></i></button>
                                            <button type="button" class="btn btn-sm btn-circle btn-danger" ng-click="Formly.Delete(data)"><i class="fa fa-trash"></i></button>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </th>
                    </tr>
                    <tr ng-show="SubMode==0">
                        <th>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th width="256px" ng-show="!Ispreview">
                                            <i class="icon-puzzle"></i> Các thành phần
                                        </th>
                                        <th>
                                            <i class="fa fa-qrcode"></i> Biểu mẫu
                                            <span class="pull-right" ng-if="!Ispreview">
                                                <a href="javascript:;" class="btn btn-primary btn-xs" ng-click="TooglePreview(true)">
                                                    <i class="fa fa-eye"></i> Xem trước
                                                </a>
                                                <a href="javascript:;" class="btn btn-danger btn-xs" ng-click="AddRow()">
                                                    <i class="fa fa-plus"></i> Thêm dòng
                                                </a>
                                            </span>
                                            <span class="pull-right" ng-if="Ispreview">
                                                <a href="javascript:;" class="btn btn-warning btn-xs" ng-click="TooglePreview(false)">
                                                    <i class="fa fa-ban"></i> Đóng xem trước
                                                </a>
                                            </span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-show="!Ispreview">
                                        <td style="padding: 0">
                                            <script type="text/ng-template" id="toolBoxTree">
                                                <div class="tree-folder-header" ng-mousedown="ClickToCategory(control)" ng-class="control.data.Selected?'selected':''">
                                                    <i ng-class="control.data.IsExpand ? 'fa fa-caret-down':'fa fa-caret-right'" ng-show="control.data.hasChild">
                                                    </i>
                                                    <div class="tree-folder-name">
                                                        <span ng-if="control.data.hasChild"><img ng-src="{{control.data.imageSrc}}" width="50px" height="20px" /></span>
                                                        <span ng-class="control.data.hasChild ? '' : 'text-bold'">{{control.data.name}}</span>
                                                    </div>
                                                </div>
                                                <hr style="margin:2px;" ng-show="control.data.IsExpand" />
                                                <div class="tree-folder-content" ng-show="control.data.child&&control.data.IsExpand">
                                                    <div ng-if="control.data.hasChild" id="{{control.key}}" ng-repeat="control in control.data.child | filter:TextSearch"
                                                         ng-include="'toolBoxTree'">
                                                    </div>
                                                    <div ng-if="!control.data.hasChild" ng-class="control.data.type==2?'draggable':'draggable'" id="{{control.key}}" ng-repeat="control in control.data.child | filter:TextSearch"
                                                         ng-include="'toolBoxTree'">
                                                    </div>
                                                </div>
                                            </script>
                                            <div id="formly-toolbox" class="tree tree-plus-minus tree-no-line tree-unselectable" style="padding: 0;">
                                                <div style="background: #FAFAFA;" class="tree-folder">
                                                    <div ng-class="form-control.data.hasChild?'':'draggable'" id="{{control.data.key}}" ng-repeat="control in component" ng-include="'toolBoxTree'"></div>
                                                </div>
                                            </div>
                                            <div class="tree tree-plus-minus tree-no-line tree-unselectable" style="padding: 0;">
                                                <div style="background: #FAFAFA;" class="tree-folder">
                                                    <div class="tree-folder-header">
                                                        <i class="fa fa-caret-down">
                                                        </i>
                                                        <div class="tree-folder-name">
                                                            <span>
                                                                <img src="../../../../../assets/layouts/layout/image-catalog/input.svg" width="50" height="20" />
                                                            </span>
                                                            <span class="text-bold">D.Sách trường</span>
                                                        </div>
                                                    </div>
                                                    <hr style="margin:2px;" />
                                                    <div class="tree-folder-content">
                                                        <div ng-repeat="data in ListControl" class="draggable-item" ng-mousedown="ClickToCategory(data)" ng-show="!data.data.inserted">
                                                            <div class="tree-folder-header">
                                                                <div class="tree-folder-name">
                                                                    <span ng-class="text-bold">{{data.data.MetadataFieldName}}</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td style="background-color: #777;padding:0px">
                                            <script type="text/ng-template" id="loki-lopp">
                                                <!--0. MetadataField Động -->
                                                <div class="formly-block formly-block-field" ng-show="compoment.data.type==0">
                                                    <div class="formly-head">
                                                        <div class="formly-tools">
                                                            <button type="button" class="btn btn-xs btn-danger formly-btn" ng-click="DeleteMetadataField(compoment)" title="Xóa ">
                                                                <i class="fa fa-trash" aria-hidden="true"></i>
                                                            </button><br />
                                                        </div>
                                                        <div class="formly-title">
                                                            {{compoment.data.MetadataFieldName}}
                                                        </div>
                                                    </div>
                                                    <div class="formly-body">
                                                        <!--<div class="zoomedOutConfig">
                                                            <formly-form fields="[compoment]" model="sampleModel">
                                                            </formly-form>
                                                        </div>-->
                                                    </div>
                                                </div>
                                                <!--1. Row -->
                                                <div class="formly-row droppable" ng-show="compoment.data.type == 1" id="{{compoment.data.index}}">
                                                    <div class="formly-head">
                                                        <div class="formly-title">
                                                            {{compoment.data.name}}
                                                        </div>
                                                        <div class="formly-tools">
                                                            <button type="button" class="btn btn-xs btn-danger formly-btn" ng-click="DeleteRow(compoment)" title="Xóa hàng">
                                                                <i class="fa fa-trash" aria-hidden="true"></i>
                                                            </button><br />
                                                            <button type="button" class="btn btn-xs formly-btn" ng-class="CheckSwapRow(compoment)" ng-click="SwapRow(compoment)" title="Đổi chỗ">
                                                                <i class="fa fa-exchange" aria-hidden="true"></i>
                                                            </button><br />
                                                            <!--<button type="button" class="btn btn-xs btn-info formly-btn" ng-click="CloneRow(compoment)" title="Nhân bản hàng">
                                                                <i class="fa fa-copy" aria-hidden="true"></i>
                                                            </button>-->
                                                        </div>
                                                    </div>
                                                    <div class="formly-body">
                                                        <ul class="sortable" id={{compoment.data.index}}>
                                                            <li ng-repeat="compoment in compoment.fieldGroup" class="{{compoment.className}}" ng-include="'loki-lopp'" id="{{compoment.data.index}}">
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <!--2. Item Html -->
                                                <div class="formly-block formly-block-html" ng-show="compoment.data.type==2">
                                                    <div class="formly-head">
                                                        <div class="formly-tools">
                                                            <button type="button" class="btn btn-xs btn-danger formly-btn" ng-click="DeleteItem(compoment)" title="Xóa ">
                                                                <i class="fa fa-trash" aria-hidden="true"></i>
                                                            </button><br />
                                                            <button type="button" class="btn btn-xs btn-primary formly-btn" ng-click="EditItem(compoment,'label')" title="Cấu hình">
                                                                <i class="fa fa-cogs" aria-hidden="true"></i>
                                                            </button><br />
                                                            <!--<button type="button" class="btn btn-xs btn-info formly-btn" ng-click="CloneItem(compoment)" title="Nhân bản ">
                                                                <i class="fa fa-copy" aria-hidden="true"></i>
                                                            </button>-->
                                                        </div>
                                                    </div>
                                                    <div class="formly-body">
                                                        <div class="zoomedOutConfig" ng-bind-html="deliberatelyTrustDangerousSnippet(compoment.template)"></div>
                                                    </div>
                                                </div>
                                                <!--3. Column -->
                                                <div class="formly-block formly-block-column droppable-column" ng-show="compoment.data.type == 3" id="{{compoment.data.index}}">
                                                    <div class="formly-head">
                                                        <div class="formly-tools">
                                                            <button type="button" class="btn btn-xs btn-danger formly-btn" ng-click="DeleteItem(compoment)" title="Xóa ">
                                                                <i class="fa fa-trash" aria-hidden="true"></i>
                                                            </button><br />
                                                            <!--<button type="button" class="btn btn-xs btn-info formly-btn" ng-click="CloneItem(compoment)" title="Nhân bản ">
                                                                <i class="fa fa-copy" aria-hidden="true"></i>
                                                            </button>-->
                                                            <!--<button type="button" class="btn btn-xs formly-btn" ng-class="CheckSwapItem(compoment)" ng-click="SwapItem(compoment)" title="Đổi chỗ">
                                                                <i class="fa fa-exchange" aria-hidden="true"></i>
                                                            </button><br />-->
                                                        </div>
                                                        <div class="formly-title">
                                                            {{compoment.data.name}}
                                                        </div>
                                                    </div>
                                                    <div class="formly-body padding-left-15">
                                                        <ul id={{compoment.data.index}} class="formly-column">
                                                            <li ng-repeat="compoment in compoment.fieldGroup" class="{{compoment.className}}" ng-include="'loki-lopp'" id={{compoment.key}}>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>

                                            </script>
                                            <div id="formly-mainscreen" style="padding:10px">
                                                <div style="padding:10px">
                                                    <ul class="sortablerow ">
                                                        <li ng-repeat="compoment in vm.Model" ng-include="'loki-lopp'" class="{{compoment.className}}"></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr ng-show="Ispreview">

                                        <td>
                                            <div class="col-md-12">
                                                <formly-form fields="vm.Scheme" model="vm.Data">
                                                </formly-form>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </th>
                    </tr>
                </tbody>
            </table>
        </fieldset>
        <div class="row">
            <div class="col-md-12" style="font-style:italic">Ghi chú: bắt buộc nhập các trường có dấu <span class="required">(*)</span>.</div>
        </div>
    </div>
    <div class="modal-footer">
        <button title="Lưu" type="button" ng-click="Save()" class="btn btn-sm btn-primary"><i class="fa fa-save"></i>&nbsp;Lưu</button>
        <button title="Đóng" type="button" ng-click="Cancel()" class="btn btn-sm btn-warning"><i class="fa fa-ban"></i>&nbsp;Đóng</button>
    </div>
</div>


