﻿<style>
    .zoom-85 {
        zoom: 85%;
    }


    .JCLRgrip {
        margin-left: -5px;
        position: absolute;
        z-index: 5;
        width: 10px;
    }

        .JCLRgrip .JColResizer {
            cursor: col-resize;
            background-color: rgba(255, 0, 0, 0);
            opacity: 1;
        }

            .JCLRgrip .JColResizer:hover {
                background-color: black;
            }


            .JCLRgrip .JColResizer:before {
                content: ' ';
                background-color: black;
                position: absolute;
                width: 1px;
                top: 50%;
                height: 45px;
                right: 3px;
            }

            .JCLRgrip .JColResizer:after {
                content: ' ';
                background-color: black;
                position: absolute;
                width: 1px;
                top: 50%;
                height: 45px;
                left: 3px;
            }

            .JCLRgrip .JColResizer:hover:before {
                background-color: red;
            }

            .JCLRgrip .JColResizer:hover:after {
                background-color: red;
            }

    .tree-folder-header.selected {
        /* background-color: #1bbc9b !important; */
        background: #36c6d3 !important;
        border-top-color: transparent;
        color: white !important;
    }
</style>
<div class="portlet light">
    <div class="portlet-title">
        <div class="caption caption-md">
            <span class="caption-subject bold theme-font-color uppercase">Quản lý danh mục: {{CurentCatalog.Name}}</span>
        </div>

        <div class="inputs">
            <div class="portlet-input input-inline">
                <div class="input-icon right">
                    <i class="icon-magnifier" ng-click="Button.Search.Click()"></i>
                    <input type="text" ng-model="TextSearch" ng-keyup="$event.keyCode == 13 && Button.Search.Click()" class="form-control form-control-solid input-sm" placeholder="Tìm kiếm..." ng-pattern="word" required ng-trim="true">
                </div>
            </div>
        </div>

        <div class="actions margin-right-10">
            <button type="button" class="btn btn-sm" title="Tải lại" ng-click="Button.Reload.Click()">
                <i class="fa fa-refresh"></i>
                <span>Tải lại</span>
            </button>
            <button type="button" class="btn btn-sm btn-primary" title="Thêm mới bản ghi" ng-click="Button.Create.Click()">
                <i class="fa fa-plus"></i>
                <span>Thêm mới bản ghi</span>
            </button>
            <button type="button" class="btn btn-sm btn-danger" title="Xóa mục đã chọn" ng-click="Button.DeleteMany.Click()" ng-show="ViewList" ng-if="ListSelected.length>0">
                <i class="fa fa-trash"></i>
                <span>Xóa mục đã chọn</span>
            </button>
        </div>
    </div>

    <div class="portlet-body">
        <div class="row">
            <div class="col-md-12">
                <div class="pull-left">
                    <div class="btn-group btn-group-sm">
                        <!--<label class="primary-link small" ng-repeat="path in CurentCatalog.PathList.NamePathList">
                            <span ng-if="!$last"> {{path}} <i class="fa fa-angle-double-right"></i></span>
                            <span ng-if="$last" class="text-bold"> {{path}} &nbsp;</span>
                        </label>-->
                        <button type="button" class="btn btn-sm btn-primary" title="Thêm mới danh mục" ng-click="AddCatalog()">
                            <i class="fa fa-plus"></i>
                            <span>Thêm mới danh mục</span>
                        </button>
                    </div>
                </div>
                <div class="pull-right">
                    <div class="btn-group btn-group-solid">
                        <button type="button" ng-click="InitView(true)" ng-class="ViewList?'btn btn-sm btn-info':'btn btn-sm'"><i class="fa fa-list-ol"></i> Dạng danh sách</button>
                        <button type="button" ng-click="InitView(false)" ng-class="!ViewList?'btn btn-sm btn-info':'btn btn-sm'"><i class="fa fa-outdent"></i> Dạng cây</button>
                    </div>
                </div>
            </div>
        </div>
        <table align="center" id="mainContent" class="table dataTable">
            <tbody>
                <tr>
                    <td align="left" id="mdm-tree-folder" width="250" style="position:relative; padding: 8px 0px">
                        <!-- CATALOG Tree view -->
                        <script type="text/ng-template" id="treeItem">
                            <div class="tree-folder-header" context-menu="GetMenuOption(catalog)" ng-mouseup="ClickToCategory(catalog)" ng-mouseleave="catalog.ShowOptionCaret=false" ng-mouseenter="catalog.ShowOptionCaret=true" ng-class="catalog.Selected?'selected':''">
                                <i ng-class="!catalog.IsCollapse ? 'fa fa-angle-down':'fa fa-angle-right'" style="text-align:center;min-width: 9px" ng-show="catalog.SubChild.length>0" ng-click="CollapseCatalog(catalog)"></i>
                                <i class="fa fa-angle-down" style="visibility:collapse" ng-hide="catalog.SubChild.length>0" ng-mouseup="ClickToCategory(catalog)"></i>
                                <div class="tree-folder-name">
                                    <span ng-if="catalog.Status">{{catalog.Name}}</span>
                                    <span ng-if="!catalog.Status" class="text-muted" title="Đang bị vô hiệu hóa">{{catalog.Name}} <i class="fa fa-minus-circle"></i></span>
                                    <div class="tree-actions" ng-show="catalog.ShowOptionCaret" context-menu="GetMenuOption(catalog)" context-menu-on="click">
                                        <i class="fa fa-angle-down" ng-click="catalog.ShowOption=!catalog.ShowOption"></i>
                                    </div>
                                </div>
                            </div>
                            <hr style="margin:2px;" ng-show="catalog.SubChild.length>0&&!catalog.IsCollapse" />
                            <div class="tree-folder-content" ng-show="catalog.SubChild.length>0&&!catalog.IsCollapse ">
                                <div ng-repeat="catalog in catalog.SubChild | filter:TextSearchTree" ng-include="'treeItem'"></div>
                            </div>
                        </script>
                        <div id="catalog-tree" class="tree tree-plus-minus tree-no-line tree-unselectable padding-right-10" style="padding: 0;">
                            <div class="input-icon right" style="border-radius: 0;margin-bottom: 7px; ">
                                <i class="icon-magnifier"></i>
                                <input type="text" class="form-control input-sm" ng-model="TextSearchTree" placeholder="Tìm kiếm">
                            </div>
                            <div id="catalog-tree2" style="background: #FAFAFA;" class="tree-folder">
                                <div ng-repeat="catalog in ListCatalogData | filter:TextSearchTree" ng-include="'treeItem'"></div>
                            </div>
                        </div>
                    </td>

                    <td align="left" style="position:relative; padding: 8px 0px">
                        <div class="row" ng-hide="true">
                            <div class="pull-right">
                                <div class="inputs">
                                    <div class="portlet-input input-small input-inline">
                                        <div class="input-icon right">
                                            <i class="icon-magnifier" ng-click="Search()"></i>
                                            <input type="text" ng-model="TextSearch" ng-keyup="$event.keyCode == 13 && Search()" class="form-control form-control-solid" placeholder="Tìm kiếm...." ng-pattern="word" required ng-trim="true">
                                        </div>
                                    </div>
                                </div>

                                <div class="actions margin-right-10">
                                    <button type="button" class="btn btn-sm" title="Tải lại" ng-click="Button.Reload.Click()">
                                        <i class="fa fa-refresh"></i>
                                        <span>Tải lại</span>
                                    </button>
                                    <button type="button" class="btn btn-sm btn-primary" title="Thêm mới bản ghi" ng-click="Button.Create.Click()">
                                        <i class="fa fa-plus"></i>
                                        <span>Thêm mới bản ghi</span>
                                    </button>
                                    <!--<button type="button" class="btn btn-sm btn-primary" title="Cập nhật item" ng-click="Button.Update.Click()" ng-show="ViewList" ng-if="ListSelected.length===1">
                                        <i class="fa fa-edit"></i>
                                        <span>Cập nhật Item</span>
                                    </button>-->
                                    <button type="button" class="btn btn-sm btn-danger" title="Xóa bản ghi đã chọn" ng-click="Button.DeleteMany.Click()" ng-show="ViewList" ng-if="ListSelected.length>1">
                                        <i class="fa fa-trash"></i>
                                        <span>Xóa</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-show="ViewList">
                            <div class="col-md-12 padding-left-30">
                                <table class="table table-striped table-hover dataTable table-bordered">
                                    <thead>
                                        <tr style="background-color: #eeeeee;color: #337ab7">
                                            <th class="table-checkbox sorting_disabled" rowspan="1" colspan="1" aria-label="" style="width: 24px;">
                                                <div class="checker">
                                                    <span ng-class="SelectAll?'checked':''">
                                                        <input type="checkbox" class="group-checkable" ng-click="SelectAllItem()" ng-model="SelectAll">
                                                    </span>
                                                </div>
                                            </th>
                                            <th ng-repeat="header in Headers" width="{{header.Width}}" align="{{header.Align}}" ng-class="GetItemHeaderClass(header)" ng-click="ClickToHeader(header)">
                                                <a href="">{{header.Value}}</a>
                                            </th>
                                            <th width="120px" style="text-align:center;">
                                                Thao tác
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="data in ListData" ng-class="data.Selecting?'selected':''">
                                            <th rowspan="1" colspan="1" aria-label="" style="width: 24px;">
                                                <div class="checker">
                                                    <span ng-class="data.Selecting?'checked':''">
                                                        <input type="checkbox" ng-click="SelectItem(data)" ng-model="data.Selecting" class="checkboxes">
                                                    </span>
                                                </div>
                                            </th>
                                            <td align="center">
                                                <span>{{$index + (Pagination.PageNumber-1)*Pagination.PageSize+1}}</span>
                                            </td>
                                            <td>
                                                {{data.Code}}
                                            </td>                                          
                                            <td>
                                                <a href="javascript:void(0);" ng-click="Button.Update.Click(data)" target="_self" class="item-title">{{data.Name}}</a><br />
                                                <div ng-repeat="meta in data.DataAttribute">
                                                    <small>
                                                        <strong>{{meta.Name}}:&nbsp;</strong><span ng-bind="meta.Value"></span>&nbsp;&nbsp;
                                                    </small>
                                                </div>
                                            </td>
                                            <td>
                                                {{data.Order}}
                                            </td>
                                            <td>
                                                <span class="label label-sm label-success" ng-if="data.Status">Hoạt động</span>
                                                <span class="label label-sm label-danger" ng-if="!data.Status">Không hoạt động</span>
                                            </td>
                                            <td align="center">
                                                <!--  <button type="button" class="btn btn-sm btn-success" ng-click="Button.Copy.Click(data)"><i class="fa fa-copy"></i></button>-->
                                                <button type="button" class="btn btn-sm btn-primary btn-circle btn-icon-only btn-grid-circle-button" title="Cập nhật" ng-click="Button.Update.Click(data)"><i class="fa fa-edit"></i></button>
                                                <button type="button" class="btn btn-sm btn-danger btn-circle btn-icon-only btn-grid-circle-button" title="Xóa" ng-click="Button.Delete.Click(data)"><i class="fa fa-trash"></i></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <!-- PAGINATION -->
                                <div class="row">
                                    <div class="col-md-12" ng-show="Pagination.TotalCount>0">
                                        <div class="dataTables_paginate">
                                            <div class="pull-left pagination-panel">
                                                {{Pagination.FromRecord}} - {{Pagination.ToRecord}} trong tổng số {{Pagination.TotalCount}}
                                            </div>
                                            <div class="pull-right pagination-panel">
                                                &nbsp;Trang số&nbsp;
                                                <button type="button" uib-tooltip="Về trang đầu" class="btn btn-sm default prev" ng-disabled="Pagination.PageNumber<=1" ng-click="Button.GoToPage.Click(1)"><i class="fa fa-angle-double-left"></i></button>
                                                <button type="button" uib-tooltip="Trang trước" class="btn btn-sm default prev" ng-disabled="Pagination.PageNumber<=1" ng-click="Button.GoToPage.Click(Pagination.PageNumber-1)"><i class="fa fa-angle-left"></i></button>
                                                <input type="text" ng-model="Pagination.PageNumber" onkeypress="return event.charCode >= 48 && event.charCode <= 57" ng-keyup="$event.keyCode == 13 && Button.GoToPage.Click(Pagination.PageNumber)" class="pagination-panel-input form-control input-sm input-inline input-mini" maxlenght="5" style="text-align:center; margin: 0 5px;">
                                                /{{Pagination.TotalPage}}&nbsp;
                                                <button type="button" uib-tooltip="Trang tiếp" class="btn btn-sm default next" ng-disabled="Pagination.PageNumber>=Pagination.TotalPage" ng-click="Button.GoToPage.Click(Pagination.PageNumber+1)"><i class="fa fa-angle-right"></i></button>
                                                <button type="button" uib-tooltip="Tới trang cuối" class="btn btn-sm default next" ng-disabled="Pagination.PageNumber>=Pagination.TotalPage" ng-click="Button.GoToPage.Click(Pagination.TotalPage)"><i class="fa fa-angle-double-right"></i></button>
                                            </div>
                                            <div class="pull-right pagination-panel">
                                                Hiển thị số bản ghi:&nbsp;
                                                <div class="btn-group btn-group-sm dropup">
                                                    <button type="button" class="btn btn-sm btn-default margin-right-none">{{Pagination.PageSize}}</button>
                                                    <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown"><i class="fa fa-angle-down"></i></button>
                                                    <ul class="dropdown-menu dropdown-menu-sm" role="menu" id="pageSizeDrop" style="min-width:61px!important">
                                                        <!--<li class="dropdown-header">Chọn số bản ghi</li>-->
                                                        <li ng-repeat="pagesize in ListPageSize">
                                                            <a href="javascript:;" ng-click="Pagination.PageSize=pagesize;Button.GoToPage.Click(1)">
                                                                <span ng-bind="pagesize"></span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- END PAGE CONTENT-->
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-show="!ViewList" id="tree-view">
                            <div class="col-md-6 padding-left-30">
                                <script type="text/ng-template" id="treeItemContent">
                                    <div class="tree-folder-header" context-menu="GetMenuOptionContent(catalogItem)" ng-mouseup="ClickToCategoryContent(catalogItem)" ng-mouseleave="catalogItem.ShowOptionCaret=false" ng-mouseenter="catalogItem.ShowOptionCaret=true" ng-class="catalogItem.Selected?'selected':''">
                                        <i ng-class="!catalogItem.IsCollapse ? 'fa fa-angle-down':'fa fa-angle-right'" ng-show="catalogItem.SubChild.length>0" style="text-align:center;min-width: 9px" ng-click="CollapseCatalogContent(catalogItem)"></i>
                                        <i class="fa fa-angle-down" style="visibility:collapse" ng-hide="catalogItem.SubChild.length>0"></i>
                                        <div class="tree-folder-name">
                                            <span ng-if="catalogItem.Status">{{catalogItem.Name}}</span>
                                            <span ng-if="!catalogItem.Status" class="text-muted" title="Đang bị vô hiệu hóa">{{catalogItem.Name}}</span>
                                            <div class="tree-actions" ng-show="catalogItem.ShowOptionCaret" context-menu="GetMenuOptionContent(catalogItem)" context-menu-on="click">
                                                <i class="fa fa-angle-down" ng-click="catalogItem.ShowOption=!catalogItem.ShowOption"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <hr style="margin:2px;" ng-show="catalogItem.SubChild.length>0&&!catalogItem.IsCollapse " />
                                    <div class="tree-folder-content" ng-show="catalogItem.SubChild.length>0&&!catalogItem.IsCollapse ">
                                        <div ng-repeat="catalogItem in catalogItem.SubChild | filter:TextSearch" ng-include="'treeItemContent'"></div>
                                    </div>
                                </script>
                                <div id="catalog-tree" class="tree tree-plus-minus tree-no-line tree-unselectable padding-right-10" style="padding: 0;">

                                    <!--<div class="input-icon right" style="border-radius: 0 ">
                                        <i class="icon-magnifier"></i>
                                        <input type="text" class="form-control input-sm" ng-model="TextSearchContent" placeholder="Tìm kiếm">
                                    </div>-->
                                    <div style="background: #FAFAFA;" class="tree-folder">
                                        <div ng-repeat="catalogItem in TreeData | filter:TextSearch" ng-include="'treeItemContent'"></div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6">
                                <!--<fieldset>
                                    <legend class="font-14 text-bold">
                                        <span>DANH SÁCH METADATA</span>
                                    </legend>
                                    <div class="clearfix"></div>
                                    {{CurentCatalogtem}}
                                    <div ng-repeat="meta in CurentCatalogtem.DataAtribute">
                                        <small>
                                            <strong>{{meta.Name}}:&nbsp;</strong><span ng-bind="meta.Value"></span>&nbsp;&nbsp;
                                        </small>
                                    </div>
                                </fieldset>-->
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- ALERT DIV -->
    <div class="alerts" ng-show="Notifications.queue.length > 0">
        <div class="alert alert-{{(m.type)||'info'}} alert-dismissable fade in pull-right" ng-repeat="m in Notifications.queue">
            <button type="button" class="close" ng-click="closeAlert(m.body)" data-dismiss="alert">×</button>
            <label>{{m.title}}</label>
            <div>{{m.body}}</div>
        </div>
    </div>
</div>

