﻿<!DOCTYPE html>
<!--
Template Name: Metronic - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.3.7
Version: 4.7.5
Author: KeenThemes
Website: http://www.keenthemes.com/
Contact: support@keenthemes.com
Follow: www.twitter.com/keenthemes
Dribbble: www.dribbble.com/keenthemes
Like: www.facebook.com/keenthemes
Purchase: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
Renew Support: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
-->
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <!--<base href="/">-->
    <meta charset="utf-8" />
    <title ng-if="$state.current.data.pageTitle === ''"> Đang chuyển hướng</title>
    <title ng-if="$state.current.data.pageTitle !== ''" data-ng-bind="$state.current.data.pageTitle"></title>
    <!--<title>AngularJS 1.6.8 | Bootstrap 3.3.7 | Metronic 4.7.5</title>-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link rel="shortcut icon" type="image/x-icon" href="../favicon.ico" />

    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="./bower_components/select2/dist/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="./bower_components/angular-loading-bar/build/loading-bar.css" rel="stylesheet" type="text/css" />
    <link href="./bower_components/selectize/dist/css/selectize.default.css" rel="stylesheet" type="text/css" />
    <link href="./assets/layouts/layout/css/fonts/fonts.OpenSans.css" rel="stylesheet" type="text/css" />
    <link href="./bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="./bower_components/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css" />
    <link href="./bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="./bower_components/angular-ui-select/dist/select.css" rel="stylesheet" type="text/css" />
    <link href="./bower_components/angular-toastr/dist/angular-toastr.css" rel="stylesheet" type="text/css" />
    <link href="./bower_components/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <!--<link href="./bower_components/bootstrap-timepicker/css/timepicker.less" rel="stylesheet" type="text/css" />-->
    <link href="./bower_components/bootstrap-timepicker/css/bootstrap-timepicker.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN DYMANICLY LOADED CSS FILES(all plugin and page related styles must be loaded between GLOBAL and THEME css files ) -->
    <link id="ng_load_plugins_before" rel="alternate" />
    <!-- END DYMANICLY LOADED CSS FILES -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href="./assets/apps/css/tree-view.css" rel="stylesheet" type="text/css" />
    <link href="./bower_components/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" type="text/css" />
    <link href="./assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="./assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />

    <link href="./bower_components/angularjs-datepicker/dist/angular-datepicker.min.css" rel="stylesheet" />
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="./assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="./assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->
    <link href="./assets/layouts/layout/css/custom.css" rel="stylesheet" type="text/css" />
    <link href="./assets/layouts/layout/css/layout.min.css" rel="stylesheet" type="text/css" />
    <link href="./assets/layouts/layout/css/themes/darkblue.min.css" rel="stylesheet" type="text/css" id="style_color" />
    <link href="./assets/layouts/layout/css/custom.min.css" rel="stylesheet" type="text/css" />
    <!-- END THEME LAYOUT STYLES -->
</head>
<!-- END HEAD -->
<body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white" ng-class="{'page-sidebar-closed': $settings.layout.pageSidebarClosed}">
    <div class="page-wrapper">
        <!-- BEGIN PAGE SPINNER -->
        <!--<div ng-spinner-bar class="page-spinner-bar">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>-->
        <!-- END PAGE SPINNER -->
        <!-- BEGIN HEADER -->
        <div id="headerDiv" style="display:none" class="page-header navbar navbar-fixed-top" data-ng-controller="HeaderController" data-ng-include="'/app-data/views/template/header/header.html'"></div>
        <!-- END HEADER -->
        <div class="clearfix"></div>
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            <!-- BEGIN SIDEBAR -->
            <div id="sidebarDiv" style="display:none" class="page-sidebar-wrapper" data-ng-controller="SidebarController" ng-include="'/app-data/views/template/sidebar/sidebar.html'"></div>
            <!-- END SIDEBAR -->
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content" autoscroll="true">
                    <div ui-view class="fade-in-up"></div>
                </div>
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->
            <!-- BEGIN LOADING ng-spinner-bar -->
            <div id="loadingDiv" style="position: fixed;width: 100%;height: 100%;background: #fff;top: 0px;margin: 0px auto;text-align: center; z-index: 999999;">
                <div style="margin-top:20vh;">
                    <img src="assets/layouts/layout/img/LOGO_BETA_700x292.png" />
                </div>
                <div class="page-spinner-bar" style="top:65% !important">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                </div>
                <div class="bold font-15" style="position:fixed;top:90%;text-align:center;left:41%;">
                    © 2018 SAVIS VIETNAM CORPORATION
                </div>
            </div>
            <!-- END LOADING -->
        </div>
        <!-- END CONTAINER -->
        <!-- BEGIN FOOTER -->
        <div id="footerDiv" style="display:none" data-ng-controller="FooterController" class="page-footer" data-ng-include="'/app-data/views/template/footer/footer.html'"></div>
        <!-- END FOOTER -->
    </div>
    <script data-main="./app-data/mandatory-js/main.js" src="./bower_components/requirejs/require.js"></script>
</body>
</html>
