﻿<span>
    <button type="button" class="btn btn-sm btn-primary pull-right margin-bottom-10 margin-left-10" ng-click="table.AddRow()"> <i class="fa fa-plus"></i> Thêm</button>
    <button type="button" class="btn btn-sm btn-primary pull-right margin-bottom-10 margin-left-10" ng-show="table.IsEditing" ng-click="table.SaveEdit()"> <i class="fa fa-check"></i> Xác nhận</button>
    <button type="button" class="btn btn-sm btn-primary pull-right margin-bottom-10 margin-left-10" ng-show="table.IsEditing" ng-click="table.RevertEdit()"> <i class="fa fa-undo"></i> Hoàn tác</button>
    <button type="button" class="btn btn-sm btn-danger pull-right  margin-bottom-10 margin-left-10" ng-show="table.SelectedCount>0" ng-click="table.DeleteSelected()"> <i class="fa fa-trash"></i> Xóa đã chọn</button>
</span>
<div class="row">
    <div ag-grid="table.gridOptions" style="height:450px;" class="ag-bootstrap col-md-12"></div>
</div>
<!--<pre>{{model[options.key]}}</pre>-->