<div class="modal-header">
            <h3 class="modal-title">{{ProgramTitle}}</h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                <span>Bạn muốn xóa nhóm quyền này?</span>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="delitem()">Chấp nhận</button>
            <input type="button" class="btn btn-warning" ng-click="cancel()" value="Đóng" />
        </div>   