﻿<div class="modal-content cmodal">
    <div class="modal-header">
        <a href="javascript:;" ng-click="Button.Close.Click()" class="modal-close" aria-hidden="true"><i class="fa fa-close"></i></a>
        <span class="modal-title">
            <span>{{Form.Title}}</span>
        </span>
    </div>
    <div class="modal-body">
        <!--Tên + Định dạng phim-->
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="Name">Tên phim</label>
                    <input type="text" ng-model="Film.Name" readonly class="form-control" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="Name_F">Định dạng phim</label>
                    <input type="text" ng-model="Film.FilmFormatName" readonly class="form-control" />
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <form id="ratio_form" name="ratio_form">
            <fieldset>
                <legend>THÔNG TIN TỈ LỆ PHIM</legend>
                <div class="row" ng-if="!IsEdit">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="Cinemas">Rạp <span class="required">(*)</span></label>
                            <ui-select ng-model="Film.ListCinema"
                                       ng-disabled="IsInfo"
                                       multiple
                                       allow-clear="true"
                                       close-on-select="false"
                                       on-select="OnCinemasChange($item, $model)"
                                       on-remove="OnCinemasChange($item, $model)"
                                       title="Chọn rạp" theme="bootstrap">
                                <ui-select-match placeholder="--Chọn rạp--">{{$item.Name}}</ui-select-match>
                                <ui-select-choices repeat="item in DropdownList.ListCinemaNoRatio | filter: $select.search">
                                    <div ng-bind-html="item.Name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>
                <div class="row" ng-if="IsEdit">
                    <div class="container-fluid text-right">
                        <div class="portlet-title">
                            <div class="inputs">
                                <div class="portlet-input input-large input-inline">
                                    <div class="input-icon right">
                                        <input disabled type="text" class="form-control input-sm" ng-model="Film.Cinema.Name" />
                                    </div>
                                </div>
                                <button type="button" class="btn btn-sm blue" ng-click="Button.ReturnAdd()"><i class="fa fa-backward"></i> Quay lại thêm mới</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-striped table-bordered table-hover table-checkable order-column dataTable no-footer">
                            <thead>
                                <tr class="grid-header">
                                    <th ng-repeat="item in GridRatio.DataHeader" ng-class="GridRatio.GetItemHeaderClass(item)"
                                        ng-click="GridRatio.ClickToHeader(item)" style="width:{{item.Width}}">
                                        {{item.Value}}
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-if="Film.ListRatio.length>0" ng-repeat="item in Film.ListRatio">
                                    <td align="center">
                                        <span>{{item.Week}}</span>
                                    </td>
                                    <td>
                                        <div ng-if="item.Week !== 1">{{item.FromDate | date:"dd/MM/yyyy"}}</div>
                                        <div ng-if="item.Week === 1">
                                            <div class="input-group">
                                                <input type="text"
                                                       name="ratio_fromDate"
                                                       placeholder="{{Button.DateTime.Format}}"
                                                       max-date="item.ToDate"
                                                       ng-model="item.FromDate"
                                                       class="form-control"
                                                       ng-click="Button.DateTime.OpenFromRatioDatePicker($event)"
                                                       uib-datepicker-popup="{{Button.DateTime.Format}}"
                                                       datepicker-popup="{{Button.DateTime.Format}}"
                                                       ng-model-options="{timezone: 'utc'}"
                                                       is-open="Button.DateTime.IsFromRatioDatePickerOpened"
                                                       datepicker-options="Button.DateTime.dateOptions"
                                                       close-text="Đóng" clear-text="Xóa" current-text="Hôm nay" required
                                                       ng-disabled="IsReadOnlyInput" />
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default" ng-disabled="IsReadOnlyInput" ng-click="Button.DateTime.OpenFromRatioDatePicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                                </span>
                                            </div>
                                            <div ng-show="ratio_form.ratio_fromDate.$dirty && ratio_form.ratio_fromDate.$invalid||ratio_form.$submitted || ratio_form.ratio_fromDate.$error.pattern">
                                                <small class="has-error" ng-show="ratio_form.ratio_fromDate.$error.required">
                                                    Ngày phát hành không được để trống <br />
                                                </small>
                                                <small class="has-error" ng-show="!ratio_form.ratio_fromDate.$valid">
                                                    Sai định dạng ngày tháng năm ({{Button.DateTime.Format}})
                                                </small>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div ng-if="item.Week !== 1&&item.Week !== 7">{{item.ToDate | date:"dd/MM/yyyy"}}</div>
                                        <div ng-if="item.Week === 1">
                                            <div class="input-group">
                                                <input type="text"
                                                       name="ratio_toWeek1Date"
                                                       date-disabled="DatePicker.DayDisabled(date,mode)"
                                                       placeholder="{{Button.DateTime.Format}}"
                                                       min-date="item.FromDate"
                                                       ng-model="item.ToDate"
                                                       ng-change="OnToDateWeek1Change()"
                                                       class="form-control"
                                                       ng-click="Button.DateTime.OpenWeek1ToRatioDatePicker($event)"
                                                       uib-datepicker-popup="{{Button.DateTime.Format}}"
                                                       datepicker-popup="{{Button.DateTime.Format}}"
                                                       ng-model-options="{timezone: 'utc'}"
                                                       is-open="Button.DateTime.IsToWeek1RatioDatePickerOpened"
                                                       datepicker-options="Button.DateTime.dateOptions"
                                                       close-text="Đóng" clear-text="Xóa" current-text="Hôm nay" required
                                                       ng-disabled="IsReadOnlyInput" />
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default" ng-disabled="IsReadOnlyInput" ng-click="Button.DateTime.OpenWeek1ToRatioDatePicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                                </span>
                                            </div>
                                            <div ng-show="ratio_form.ratio_toWeek1Date.$dirty && ratio_form.ratio_toWeek1Date.$invalid||ratio_form.$submitted || ratio_form.ratio_toWeek1Date.$error.pattern">
                                                <small class="has-error" ng-show="ratio_form.ratio_toWeek1Date.$error.required">
                                                    Ngày phát hành không được để trống <br />
                                                </small>
                                                <small class="has-error" ng-show="!ratio_form.ratio_toWeek1Date.$valid">
                                                    Sai định dạng ngày tháng năm ({{Button.DateTime.Format}})
                                                </small>
                                            </div>
                                        </div>
                                        <div ng-if="item.Week === 7">
                                            <div class="input-group">
                                                <input type="text"
                                                       name="ratio_toDate"
                                                       placeholder="{{Button.DateTime.Format}}"
                                                       min-date="item.FromDate"
                                                       ng-model="item.ToDate"
                                                       class="form-control"
                                                       ng-click="Button.DateTime.OpenToRatioDatePicker($event)"
                                                       uib-datepicker-popup="{{Button.DateTime.Format}}"
                                                       datepicker-popup="{{Button.DateTime.Format}}"
                                                       ng-model-options="{timezone: 'utc'}"
                                                       is-open="Button.DateTime.IsToRatioDatePickerOpened"
                                                       datepicker-options="Button.DateTime.dateOptions"
                                                       close-text="Đóng" clear-text="Xóa" current-text="Hôm nay" required
                                                       ng-disabled="IsReadOnlyInput" />
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default" ng-disabled="IsReadOnlyInput" ng-click="Button.DateTime.OpenToRatioDatePicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                                </span>
                                            </div>
                                            <div ng-show="ratio_form.ratio_toDate.$dirty && ratio_form.ratio_toDate.$invalid||ratio_form.$submitted || ratio_form.ratio_toDate.$error.pattern">
                                                <small class="has-error" ng-show="ratio_form.ratio_toDate.$error.required">
                                                    Ngày phát hành không được để trống <br />
                                                </small>
                                                <small class="has-error" ng-show="!ratio_form.ratio_toDate.$valid">
                                                    Sai định dạng ngày tháng năm ({{Button.DateTime.Format}})
                                                </small>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <input type="number" class="form-control" ng-model="item.DistributorPercent" ng-change="InputDistributorPercentChange($index)" />
                                        <small class="has-error" ng-show="item.DistributorPercent > 100">
                                            Tỉ lệ phải nhỏ hơn hoặc bằng 100
                                        </small>
                                        <small class="has-error" ng-show="item.DistributorPercent < 0">
                                            Tỉ lệ phải lớn hơn hoặc bằng 0
                                        </small>
                                    </td>
                                    <td>
                                        <input readonly type="number" class="form-control" ng-model="item.BetaPercent" />
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" ng-model="item.MoneyFormat" ng-change="InputMoneyFormatChange($index)" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="container-fluid text-right">
                        <button type="button" class="btn btn-sm blue" ng-if="Button.Save.GrantAccess" ng-click="Button.Save.Click(ratio_form)"><i class="fa fa-edit"></i> Lưu</button>
                        <button type="button" class="btn btn-sm btn-warning" ng-click="Button.Close.Click()"><i class="fa fa-ban"></i> Đóng</button>
                    </div>
                </div>
            </fieldset>
        </form>
        <div class="clearfix" style="margin-top:20px"></div>
        <fieldset>
            <legend>DANH SÁCH TỈ LỆ PHIM THEO RẠP</legend>
            <div class="row">
                <div class="container-fluid text-right">
                    <div class="portlet-title">
                        <div class="inputs">
                            <button type="button" class="btn btn-danger" ng-if="Button.CinemaRatio.Delete.Visible" ng-disabled="!Button.CinemaRatio.Delete.Enable" ng-click="Button.CinemaRatio.Delete.Click()">
                                <i class="fa fa-trash"></i>&nbsp;
                                {{Button.CinemaRatio.Delete.Title}}
                            </button>
                            <button type="button" class="btn btn-sm blue" ng-click="Grid.Refresh()"><i class="fa fa-refresh"></i> Tải lại</button>
                            <div class="portlet-input input-large input-inline">
                                <div class="input-icon right">
                                    <i class="icon-magnifier" ng-click="Grid.Search()"></i>
                                    <input type="text" ng-model="Grid.Filter.CinemaName" ng-keyup="$event.keyCode == 13 && Grid.Search()" class="form-control form-control-solid input-sm" placeholder="Nhập tên rạp để tìm kiếm...." ng-pattern="word" required ng-trim="true">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-striped table-bordered table-hover table-checkable order-column dataTable no-footer">
                        <thead>
                            <tr class="grid-header">
                                <th class="sorting_disabled" rowspan="1" colspan="1" style="width:4%;">
                                    <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                        <input type="checkbox" class="group-checkable" ng-click="Grid.CheckAllItem()" ng-model="Grid.CheckAll" />
                                        <span></span>
                                    </label>
                                </th>
                                <th ng-repeat="item in Grid.DataHeader" ng-class="Grid.GetItemHeaderClass(item)"
                                    ng-click="Grid.ClickToHeader(item)" style="width:{{item.Width}}">
                                    {{item.Value}}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-if="Grid.Data.length>0" ng-repeat="item in Grid.Data">
                                <td>
                                    <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                        <input type="checkbox" class="checkboxes" ng-click="Grid.CheckItem(item)" ng-model="item.selected" ng-class="{selected: $index==selectedRow}">
                                        <span></span>
                                    </label>
                                </td>
                                <td align="center">
                                    <span>{{$index +1}}</span>
                                </td>
                                <td>
                                    <span>{{item.Name}}</span>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-sm blue" ng-click="Button.CinemaRatio.Update.Click(item)"><i class="fa fa-edit"></i> Cập nhật</button>
                                    <button type="button" class="btn btn-sm red" ng-click="Button.CinemaRatio.Delete.Click(item)"><i class="fa fa-ban"></i> Xóa</button>
                                </td>
                            </tr>
                            <tr ng-if="Grid.Data.length===0">
                                <td colspan="20">Không có dữ liệu !</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-12" ng-show="Grid.TotalCount>0" data-ng-include="'/app-data/views/template/pagination/pagination.html'"></div>
            </div>
        </fieldset>
    </div>
    <div class="modal-footer">
    </div>
</div>
