﻿<!-- BEGIN PAGE HEADER-->
<!--<div class="row">
    <div class="col-md-12">
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a href="#">Quản trị hệ thống</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#/navigations">Quản lý Admin Navigation Menu</a>
            </li>
        </ul>
    </div>
</div>-->
<!-- BEGIN PAGE CONTENT-->
<div class="portlet light">
    <div class="portlet-title">
        <div class="caption caption-md">
            <span class="caption-subject bold theme-font-color uppercase">Quản lý, phân quyền hệ thống điều hướng</span>
            <span class="caption-helper"></span>
        </div>
        <div class="inputs margin-right-10">
            <button type="button" class="btn btn-sm default" title="Tải lại" ng-click="Button.Reload.Click()">
                <i class="fa fa-refresh"></i>
                <span>Tải lại</span>
            </button>
            <!--</div>
            <div class="actions">-->
            <button class="btn btn-sm btn-primary" ng-click="SwitchToAddMode()">
                <i class="fa fa-plus"></i> Thêm mới
            </button>
            <button class="btn btn-sm btn-primary" ng-click="Save()" ng-disabled="(navForm.$dirty && navForm.$invalid)|| (navForm.$pristine && EditMode === 'add')">
                <!-- Todo: dang loi phan change trang thai, ko an validate -->
                <!--//ng-disabled="!navForm.$dirty || (navForm.$dirty && navForm.$invalid)|| navForm.$pristine"-->
                <i class="fa fa-floppy-o"></i> Lưu
            </button>
            <button class="btn btn-sm red-sunglo" ng-click="DeleteNavigation(SelectedNavigation)" ng-if="SelectedNavigation.NavigationId != null ">
                <i class="fa fa-trash"></i> Xóa
            </button>
        </div>
    </div>
    <div class="portlet-body">
        <div class="row">
            <!-- BEGIN PAGE CONTENT-->
            <div class="col-md-4">
                <div id="folderTree" style="border: 1px Solid #e3e3e3;">
                    <div class="tree tree-plus-minus tree-no-line tree-unselectable" style="overflow:visible">
                        <script type="text/ng-template" id="treeItem">
                            <!-- <div class="tree-folder-header" ng-readonly="folder.UrlRewrite != null" data-ng-click="SelectFolder(folder, true)" data-ng-class="folder.CssClass" ng-mouseleave="HideFolderOptions(folder)">-->
                            <div class="tree-folder-header" id="testSelectNav" data-ng-click="SelectFolder(folder, true)" ng-readonly="folder.UrlRewrite != null" data-ng-class="folder.CssClass" ng-mouseleave="HideFolderOptions(folder)">
                                <i class="fa" data-ng-class="folder.IconClass" data-ng-click="ExpandFolder(folder, true)" data-stop-event=""></i>
                                <div class="tree-folder-name" ng-if="folder.Status==true">
                                    <i class="fa fa-custom"></i>
                                    {{ folder.Name }}
                                </div>
                                <div class="tree-folder-name text-muted" ng-if="folder.Status==false" style="text-decoration:line-through">
                                    <i class="fa fa-custom"></i>
                                    {{ folder.Name }}
                                </div>
                            </div>
                            <div class="tree-folder-content" data-ng-show="true">
                                <div class="tree-folder" ng-repeat="folder in folder.SubRight" ng-include="'treeItem'"></div>
                            </div>
                            <div class="tree-loader"></div>
                        </script>
                        <!--<div class="tree-folder" ng-repeat="folder in ListNavData" ng-include="'treeItem'"></div>-->
                        <div id="catalog-tree" class="tree tree-plus-minus tree-no-line tree-unselectable" style="padding: 0;">
                            <div class="input-icon right" style="border-radius: 0;margin-bottom: 5px;">
                                <i class="icon-magnifier"></i>
                                <input type="text" class="form-control input-sm" style="border:none;border-bottom: 1px Solid #e3e3e3;" ng-model="TextSearch" placeholder="Tìm kiếm">
                            </div>
                            <div style="background: #FAFAFA;height: 733px; overflow-x:hidden;" class="tree-folder">
                                <div ng-repeat="folder in ListNavData | filter:TextSearch" ng-include="'treeItem'"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div id="folderItemGrid">
                    <form role="form" name="navForm">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Điều hướng Id<!--<span style="color:red">*</span>--></label>
                                            <input type="text" class="form-control input-sm" disabled="" ng-model="SelectedNavigation.NavigationId">
                                        </div>
                                    </div>
                                    <!--<div class="col-md-6" ng-if="false">
                                        <div class="form-group">
                                            <label>Tên điều hướng cha</label>
                                            <ui-select id="slParentNav" ng-model="SelectedParentNavigation.selected" theme="bootstrap" allow-clear="true" close-on-select="true" ng-disabled="disabled" title="Select parent navigation" on-select="SelectParentNavigation($item)">
                                                <ui-select-match placeholder="Chọn điều hướng cha">
                                                    {{$select.selected.Name}}
                                                </ui-select-match>
                                                <ui-select-choices repeat="item in ListAllNavData | filter:$select.search">
                                                    <span ng-bind-html="item.Name | highlight: $select.search"></span>
                                                    <!--<span ng-bind-html="{{txt | limitTo : item.Level}} + item.Name | highlight: $select.search"></span>-->
                                    <!--</ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>-->

                                    <div class="col-md-6" ng-hide="false">
                                        <label>Tên điều hướng cha</label>
                                        <div class="input-group input-icon right" ng-class="uiselect.IsOpen?'open':''" name="{{::id}}" id="{{::id}}">
                                            {{::id}}
                                            <input type="text" name="navParent1" ng-show="!uiselect.IsOpen" ng-click="uiselect.IsOpen=true"
                                                   class="form-control input-sm" ng-model="uiselect.SelectedValue.Name" placeholder="--Chọn điều hướng cha--">
                                            <i class="fa fa-trash" ng-show="uiselect.SelectedValue && !uiselect.IsOpen" ng-click="uiselect.OnClear()" style="top:-3px;right:40px;color:red"></i>
                                            <input type="text" name="navParent2" ng-show="uiselect.IsOpen" ng-keypress="event.preventDefault()"
                                                   ng-click="uiselect.OnClick()" ng-focus="uiselect.IsOpen"
                                                   class="form-control input-sm" ng-model="uiselect.SearchValue" placeholder="--Chọn điều hướng cha--">
                                            <span class="input-group-btn">
                                                <button class="btn btn-sm btn-primary" ng-click="uiselect.OnClick()" type="button"><i ng-class="uiselect.IsOpen?'fa fa-angle-up':'fa fa-angle-down'"></i></button>
                                            </span>
                                            <ul class="dropdown-menu dropdown-menu-sm dropdown-menu-right" style="margin-top:0;max-height:350px;overflow-y:scroll" role="menu">
                                                <li ng-repeat="option in ListNavData | filter: uiselect.SearchValue" ng-include="'template-select'"></li>
                                            </ul>
                                        </div>
                                        <script type="text/ng-template" id="template-select">
                                            <a href="javascript:;" ng-click="uiselect.SetData(option)" ng-bind-html="option.Name | highlight:uiselect.SearchValue"></a>
                                            <ul class="submenu" ng-show="option.SubRight.length>0">
                                                <li ng-repeat="option in option.SubRight | filter: uiselect.SearchValue" ng-include="'template-select'"></li>
                                            </ul>
                                        </script>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Tên điều hướng <span class="required">(*)</span> </label>
                                            <input type="text" id="txtNavigationName" name="navName" class="form-control bold " ng-maxlength="255" ng-model="SelectedNavigation.Name" required placeholder="Nhập tên điều hướng - không được trùng nếu cùng cha"> <!--data-stop-event="">-->
                                            <div class="has-error" ng-show="navForm.$submitted">
                                                <small class="has-error" ng-show="navForm.navName.$error.required">
                                                    Bạn cần nhập tên điều hướng
                                                </small>
                                                <small class="has-error" ng-show="navForm.navName.$error.maxlength">
                                                    Bạn đã nhập quá 255 ký tự
                                                </small>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Mã điều hướng <span class="required">(*)</span></label>
                                            <input type="text" id="txtCode" name="navCode" class="form-control bold" ng-maxlength="255" ng-model="SelectedNavigation.Code" required placeholder="Nhập mã điều hướng(Code) - duy nhất">
                                            <!-- pattern="[\x00-\x7F]*" -->
                                            <div class="has-error" ng-show="navForm.$submitted">
                                                <small class="has-error" ng-show="navForm.navCode.$error.required">
                                                    Bạn cần nhập mã điều hướng
                                                </small>
                                                <small class="has-error" ng-show="navForm.navCode.$error.maxlength">
                                                    Bạn đã nhập quá 255 ký tự
                                                </small>
                                                <small class="has-error" ng-show="navForm.navCode.$error.pattern">
                                                    Code nhập không dấu
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label> Đường dẫn</label>
                                            <input type="text" id="txtUrlRewrite" name="navUrl" class="form-control bold ng-trim" ng-model="SelectedNavigation.UrlRewrite" placeholder="Nhập đường dẫn(url) bắt đầu bằng: #!/">
                                            <div class="has-error">
                                                <!-- ng-show="navForm.navUrl.$dirty && navForm.navUrl.$invalid" -->
                                                <!--ng-pattern="/^\s*[a-zA-Z0-9_.#!%&-$]\s*$/"-->
                                                <small class="has-error" ng-show="navForm.navUrl.$error.pattern">
                                                    Đường dẫn không chứa dấu cách, không có dấu!
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Danh sách đường dẫn được phép </label>
                                            <input class="form-control bold ng-trim" ng-model="SelectedNavigation.SubUrl" placeholder="Nhập danh sách đường dẫn(url) được phép cách nhau bởi '|'">
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Thứ tự <span class="required">(*)</span></label>
                                            <input type="number" name="order" id="order" min="0" required value="0" ng-pattern="/^[0-9]{1,7}$/" ng-model="SelectedNavigation.Order" class="input-sm form-control">
                                            <div class="has-error">
                                                <small class="has-error" ng-show="navForm.order.$error.required">
                                                    Bạn cần nhập thứ tự điều hướng
                                                </small>
                                                <small class="has-error" ng-show="navForm.order.$error.pattern">Số thứ tự không hợp lệ!</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 padding-left-10">
                                        <div class="form-group">
                                            <!--<label>Trạng thái <span class="required">(*)</span></label><br />
                                            <div class="switch has-switch switch-small" data-on="success" data-off="warning">
                                                <div class="" ng-class="SelectedNavigation.Status ? 'switch-on switch-animate switch-small' : 'switch-off switch-animate switch-small'">
                                                    <input type="checkbox" name="navState" checked="" class="toggle" />
                                                    <span class="switch-left switch-success switch-small" ng-click="SelectedNavigation.Status = !SelectedNavigation.Status">Bật</span><label class="switch-small" ng-click="SelectedNavigation.Status = !SelectedNavigation.Status">&nbsp;</label><span class="switch-right switch-default switch-small" ng-click="SelectedNavigation.Status = !SelectedNavigation.Status">Tắt</span>
                                                </div>
                                            </div>-->
                                            <label class="control-label">Trạng thái</label>
                                            <div class="padding-top-5">
                                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                                    <input type="checkbox" class="checkboxes form-control" ng-model="SelectedNavigation.Status">
                                                    <span></span>
                                                </label>
                                                <span class="label label-xs label-success" ng-if="SelectedNavigation.Status==1">Hoạt động</span>
                                                <span class="label label-xs label-danger" ng-if="SelectedNavigation.Status==false">Không hoạt động</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Mã biểu tượng</label>
                                            <div class="input-group" ng-class="IconFocus==true?'open':''">
                                                <input type="text" class="form-control bold input-sm" ng-keyup="IconFocus=true" ng-blur="IconFocus=false" ng-model="SelectedNavigation.IconClass" placeholder="Nhập mã biểu tượng(Icon class)" data-stop-event="">
                                                <span class="input-group-addon" ng-click="IconFocus =! IconFocus">
                                                    <i class="{{SelectedNavigation.IconClass}} font-red bold"></i>
                                                </span>
                                                <ul class="dropdown-menu dropdown-menu-sm dropdown-menu-right " ng-hide="" style="margin-top:0;max-height:350px;overflow-y:scroll" role="menu">
                                                    <li ng-repeat="icon in fontIconList | filter: SelectedNavigation.IconClass |limitTo: 20">
                                                        <a href="javascript:;" ng-click="SelectedNavigation.IconClass=icon.Key;IconFocus=false;">
                                                            <i class="{{::icon.Key}}"></i>  <span ng-bind-html="::icon.Key | highlight: SelectedNavigation.IconClass"></span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-hide="false">
                            <label class="control-label col-md-12 bold uppercase">Phân quyền nhóm người dùng</label>
                            <div class="col-md-12">
                                <div class="input-group">
                                    <span class="input-group-addon sm" ng-click="Search()"><i class="fa fa-search"></i></span>
                                    <input type="text" ng-model="filterText.RoleName" class="col-md-12 input-sm form-control" placeholder="Tìm kiếm" ng-pattern="word" ng-trim="true">
                                </div>
                            </div>
                            <div class="col-md-12" style="margin-top:10px">
                                <div class="form-group">
                                    <!--<div class="checker">
                                        <span ng-class="checkall?'checked':''">
                                            <input type="checkbox" class="group-checkable" ng-click="SelectAllRole()" ng-model="checkall">
                                        </span>
                                    </div> Chọn tất cả-->
                                    <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                        <input type="checkbox" class="checkboxes" ng-click="SelectAllRole()" ng-model="checkall">
                                        <span></span>
                                        Chọn tất cả
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-12" style="height: 300px;overflow-x: auto;margin-bottom: 5px;">
                                <div class="checkbox-list">
                                    <label ng-repeat="role in Roles | filter:filterText">
                                        <!--<div class="checker">
                                            <span ng-class="role.selected?'checked':''">
                                                <input type="checkbox" class="group-checkable" ng-click="SelectRole()" ng-model="role.selected">
                                            </span>
                                        </div>  {{role.RoleName}}-->
                                        <label
                                            <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                                <input type="checkbox" class="checkboxes" ng-click="SelectRole()" ng-model="role.selected">
                                                <span></span>
                                                {{role.RoleName}}
                                            </label>
                                        </label>
                                </div>
                            </div>
                        </div>

                        <div class="row" ng-hide="true">
                            <label class="control-label col-md-12"><span class="required"></span> Nhóm người dùng được tác động: </label>
                            <div class="col-md-12">
                                <div class="input-group">
                                    <span class="input-group-addon sm" ng-click="Search()"><i class="fa fa-search"></i></span>
                                    <input type="text" ng-model="filterText.RoleName" class="col-md-12 input-sm form-control" placeholder="Tìm kiếm" ng-pattern="word" ng-trim="true">
                                </div>
                            </div>
                            <div class="clearfix"></div><br />
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="checker">
                                        <span ng-class="SelectAll?'checked':''">
                                            <input type="checkbox" class="group-checkable" ng-click="SelectAllItem()" ng-model="SelectAll">
                                        </span>
                                    </div>
                                    <span ng-model="checkall">Chọn tất cả</span>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div ng-repeat="data in Roles | filter:filterText">
                                    <div class="form-group">
                                        <div class="checker">
                                            <span ng-class="data.Selecting?'checked':''">
                                                <input type="checkbox" ng-click="SelectItem(data)" ng-model="data.Selecting" class="checkboxes">
                                            </span>
                                        </div>
                                        <span ng-model="data.selected">{{data.RoleName}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>

            <!-- END PAGE CONTENT-->
        </div>
    </div>
</div>
<div class="alerts" ng-show="Notifications.queue.length > 0">
    <div class="alert alert-{{(m.type)||'info'}} alert-dismissable fade in pull-right" ng-repeat="m in Notifications.queue">
        <button type="button" class="close" ng-click="closeAlert(m.body)" data-dismiss="alert">×</button>
        <label class="control-label">{{m.title}}</label>
        <div>{{m.body}}</div>
    </div>
</div>


