﻿<style>
    textarea {
        resize: vertical;
    }
</style>
<form name="cinema_form" ng-submit="Save()">
    <div class="modal-content cmodal">
        <div class="modal-header">
            <a href="javascript:;" ng-click="Button.Close.Click()" class="modal-close" aria-hidden="true"><i class="fa fa-close"></i></a>
            <span class="modal-title">
                <span>{{Form.Title}}</span>
            </span>
        </div>

        <div class="modal-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Địa bàn hoạt động <span class="required">(*)</span></label>
                        <ui-select ng-model="Cinema.CitySelected" allow-clear="true" close-on-select="true" title="Chọn địa bàn hoạt động" ng-required="true" ng-change="UpdateMaRapChieu()" theme="bootstrap" ng-disabled="ModalMode == 'detail'">
                            <ui-select-match placeholder="--Chọn địa bàn hoạt động--">{{$select.selected.Name}}</ui-select-match>
                            <ui-select-choices repeat="item in DanhMuc.TinhThanh | filter: $select.search">
                                <div ng-bind-html="item.Name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Loại rạp<span class="required">(*)</span></label>
                        <ui-select ng-model="Cinema.LoaiRapChieuSelected" allow-clear="true" close-on-select="true" required ng-change="UpdateMaRapChieu()" title="Chọn loại rạp chiếu" theme="bootstrap" ng-disabled="ModalMode == 'detail'">
                            <ui-select-match placeholder="--Chọn loại rạp chiếu--">{{$select.selected.Name}}</ui-select-match>
                            <ui-select-choices repeat="item in DanhMuc.LoaiRapChieu | filter: $select.search">
                                <div ng-bind-html="item.Name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="cinemaCodeInput">Mã rạp<span class="required">(*)</span></label>
                        <input type="text" class="form-control" id="cinemaCodeInput" name="Code" ng-model="Cinema.Code" pattern="[a-zA-Z0-9]*" required ng-maxlength="16" placeholder="Nhập mã rạp chiếu" ng-disabled="ModalMode == 'detail'" />                      
                        <div ng-show="cinema_form.Code.$dirty && cinema_form.Code.$invalid||cinema_form.$submitted || cinema_form.Code.$error.pattern">
                            <small class="has-error" ng-show="cinema_form.Code.$error.required">
                                Mã rạp chiếu không được để trống
                            </small>
                            <small class="has-error" ng-show="cinema_form.Code.$error.maxlength">
                                Mã rạp chiếu không quá 16 ký tự
                            </small>
                            <small class="has-error" ng-show="cinema_form.Code.$error.pattern">
                                Mã rạp chiếu viết liền không dấu và không chứa ký tự đặc biệt
                            </small>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="cinemaSAPCodeInput">Mã SAP</label>
                        <input type="text" class="form-control" id="cinemaSAPCodeInput" name="SAPCode" ng-model="Cinema.SAPCode" ng-maxlength="255" placeholder="Nhập mã SAP của rạp chiếu" ng-disabled="ModalMode == 'detail'" />
                        <div ng-show="cinema_form.SAPCode.$dirty && cinema_form.SAPCode.$invalid||cinema_form.$submitted || cinema_form.SAPCode.$error.pattern">
                            <small class="has-error" ng-show="cinema_form.SAPCode.$error.maxlength">
                                Mã SAP của rạp chiếu không quá 255 ký tự
                            </small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="cinemaNameInput">Tên rạp chiếu (VN)<span class="required">(*)</span></label>
                        <input type="text" class="form-control" id="cinemaNameInput" name="Name" ng-model="Cinema.Name" required ng-maxlength="255" placeholder="Nhập tên rạp chiếu" ng-disabled="ModalMode == 'detail'" />
                        <div ng-show="cinema_form.Name.$dirty && cinema_form.Name.$invalid||cinema_form.Name.$submitted">
                            <small class="has-error" ng-show="cinema_form.Name.$error.required">
                                Bạn cần nhập tên rạp chiếu
                            </small>
                            <small class="has-error" ng-show="cinema_form.Name.$error.maxlength">
                                Bạn đã nhập quá 255 ký tự
                            </small>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="cinemaNameFInput">Tên rạp chiếu (EN)</label>
                        <input type="text" class="form-control" id="cinemaNameFInput" name="NameF" ng-model="Cinema.Name_F" ng-maxlength="255" placeholder="Nhập tên rạp chiếu" ng-disabled="ModalMode == 'detail'" />
                        <div ng-show="cinema_form.NameF.$dirty && cinema_form.NameF.$invalid||cinema_form.NameF.$submitted">
                            <small class="has-error" ng-show="cinema_form.NameF.$error.required">
                                Bạn cần nhập tên rạp chiếu
                            </small>
                            <small class="has-error" ng-show="cinema_form.NameF.$error.maxlength">
                                Bạn đã nhập quá 255 ký tự
                            </small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="cinemaAddressInput">Địa chỉ (VN)<span class="required">(*)</span></label>
                        <input type="text" class="form-control" id="cinemaAddressInput" name="Address" ng-model="Cinema.Address" required ng-maxlength="255" placeholder="Nhập địa chỉ" ng-disabled="ModalMode == 'detail'" />
                        <div ng-show="cinema_form.Address.$dirty && cinema_form.Address.$invalid||cinema_form.Address.$submitted">
                            <small class="has-error" ng-show="cinema_form.Address.$error.required">
                                Bạn cần nhập địa chỉ rạp chiếu
                            </small>
                            <small class="has-error" ng-show="cinema_form.Address.$error.maxlength">
                                Bạn đã nhập quá 255 ký tự
                            </small>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="cinemaAddressFInput">Địa chỉ (EN)</label>
                        <input type="text" class="form-control" id="cinemaAddressFInput" name="AddressF" ng-model="Cinema.Address_F" ng-maxlength="255" placeholder="Nhập địa chỉ" ng-disabled="ModalMode == 'detail'" />
                        <div ng-show="cinema_form.AddressF.$dirty && cinema_form.AddressF.$invalid||cinema_form.AddressF.$submitted">
                            <!--<small class="has-error" ng-show="cinema_form.AddressF.$error.required">
                                Bạn cần nhập địa chỉ rạp chiếu
                            </small>-->
                            <small class="has-error" ng-show="cinema_form.AddressF.$error.maxlength">
                                Bạn đã nhập quá 255 ký tự
                            </small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="cinemaPhoneNumberInput">Số điện thoại (Hotline)<span class="required">(*)</span></label>
                        <input type="text" class="form-control" id="cinemaPhoneNumberInput" name="PhoneNumber" ng-model="Cinema.PhoneNumber" required ng-maxlength="16" placeholder="Nhập SĐT" ng-disabled="ModalMode == 'detail'" />
                        <div ng-show="cinema_form.PhoneNumber.$dirty && cinema_form.PhoneNumber.$invalid||cinema_form.PhoneNumber.$submitted">
                            <small class="has-error" ng-show="cinema_form.PhoneNumber.$error.required">
                                Bạn cần nhập số điện thoại của rạp chiếu
                            </small>
                            <small class="has-error" ng-show="cinema_form.PhoneNumber.$error.maxlength">
                                Bạn đã nhập quá 16 ký tự
                            </small>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label for="cinemaExtInput">Số máy lẻ</label>
                        <input type="text" class="form-control" id="cinemaExtInput" name="Ext" ng-model="Cinema.Ext" ng-maxlength="16" placeholder="Nhập số máy lẻ" ng-disabled="ModalMode == 'detail'" />
                        <div ng-show="cinema_form.Ext.$dirty && cinema_form.Ext.$invalid||cinema_form.Ext.$submitted">
                            <small class="has-error" ng-show="cinema_form.Ext.$error.maxlength">
                                Bạn đã nhập quá 16 ký tự
                            </small>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="cinemaTaxNumberInput">Mã số thuế<span class="required">(*)</span></label>
                        <input type="text" class="form-control" id="cinemaTaxNumberInput" name="TaxNumber" ng-model="Cinema.TaxNumber" required ng-maxlength="100" placeholder="Nhập mã số thuế" ng-disabled="ModalMode == 'detail'" />
                        <div ng-show="cinema_form.TaxNumber.$dirty && cinema_form.TaxNumber.$invalid||cinema_form.TaxNumber.$submitted">
                            <small class="has-error" ng-show="cinema_form.TaxNumber.$error.required">
                                Bạn cần nhập mã số thuế của rạp chiếu
                            </small>
                            <small class="has-error" ng-show="cinema_form.TaxNumber.$error.maxlength">
                                Bạn đã nhập quá 100 ký tự
                            </small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="enterpriseNameInput">Tên công ty</label>
                        <textarea class="form-control" id="enterpriseNameInput" name="EnterpriseName" ng-model="Cinema.EnterpriseName" ng-maxlength="1024" placeholder="Nhập vào tên công ty" />
                        <div ng-show="cinema_form.EnterpriseName.$dirty && cinema_form.EnterpriseName.$invalid||cinema_form.EnterpriseName.$submitted">
                            <small class="has-error" ng-show="cinema_form.EnterpriseName.$error.maxlength">
                                Bạn đã nhập quá 1024 ký tự
                            </small>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="enterpriseAddressInput">Địa chỉ</label>
                        <textarea class="form-control" id="enterpriseAddressInput" name="EnterpriseAddress" ng-model="Cinema.EnterpriseAddress" placeholder="Nhập vào địa chỉ" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="cinemaDescriptionInput">Thông tin mô tả (VN)</label>
                        <textarea class="form-control" id="cinemaDescriptionInput" name="Description" ng-model="Cinema.Description" ng-maxlength="1024" placeholder="Nhập vào thông tin mô tả" />
                        <div ng-show="cinema_form.Description.$dirty && cinema_form.Description.$invalid||cinema_form.Description.$submitted">
                            <small class="has-error" ng-show="cinema_form.Description.$error.maxlength">
                                Bạn đã nhập quá 1024 ký tự
                            </small>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="cinemaDescriptionFInput">Thông tin mô tả (EN)</label>
                        <textarea class="form-control" id="cinemaDescriptionFInput" name="DescriptionF" ng-model="Cinema.Description_F" ng-maxlength="1024" placeholder="Nhập vào thông tin mô tả" />
                        <div ng-show="cinema_form.DescriptionF.$dirty && cinema_form.DescriptionF.$invalid||cinema_form.DescriptionF.$submitted">

                            <small class="has-error" ng-show="cinema_form.DescriptionF.$error.maxlength">
                                Bạn đã nhập quá 1024 ký tự
                            </small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="cinemaHeaderInput">Thông tin tiêu đề hóa đơn</label>
                        <textarea class="form-control" id="cinemaHeaderInput" name="Header" ng-model="Cinema.Header" ng-maxlength="1024" placeholder="Nhập vào thông tin tiêu đề" ng-disabled="ModalMode == 'detail'" />
                        <div ng-show="cinema_form.Header.$dirty && cinema_form.Header.$invalid||cinema_form.Header.$submitted">
                            <small class="has-error" ng-show="cinema_form.Header.$error.maxlength">
                                Bạn đã nhập quá 1024 ký tự
                            </small>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="cinemaFooterInput">Thông tin chân hóa đơn</label>
                        <textarea class="form-control" id="cinemaFooterFInput" name="Footer" ng-model="Cinema.Footer" ng-maxlength="1024" placeholder="Nhập vào thông tin chân hóa đơn" ng-disabled="ModalMode == 'detail'" />
                        <div ng-show="cinema_form.Footer.$dirty && cinema_form.Footer.$invalid||cinema_form.Footer.$submitted">

                            <small class="has-error" ng-show="cinema_form.Footer.$error.maxlength">
                                Bạn đã nhập quá 1024 ký tự
                            </small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="cinemaLatitudeInput">Kinh độ</label>
                        <input type="text" class="form-control" id="cinemaLatitudeInput" name="Latitude" ng-model="Cinema.Latitude" ng-maxlength="255" placeholder="Nhập vào vĩ độ" ng-disabled="ModalMode == 'detail'" />
                        <div ng-show="cinema_form.Latitude.$dirty && cinema_form.Latitude.$invalid||cinema_form.Latitude.$submitted">
                            <small class="has-error" ng-show="cinema_form.Latitude.$error.maxlength">
                                Bạn đã nhập quá 255 ký tự
                            </small>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="cinemaLongitudeFInput">Vĩ độ</label>
                        <input type="text" class="form-control" id="cinemaLongitudeInput" name="Longitude" ng-model="Cinema.Longtitude" ng-maxlength="255" placeholder="Nhập vào kinh độ" ng-disabled="ModalMode == 'detail'" />
                        <div ng-show="cinema_form.Longitude.$dirty && cinema_form.Longitude.$invalid||cinema_form.Longitude.$submitted">
                            <small class="has-error" ng-show="cinema_form.Longitude.$error.maxlength">
                                Bạn đã nhập quá 255 ký tự
                            </small>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="cinemaOrderInput">Thứ tự hiển thị</label>
                        <input type="number" class="form-control" id="cinemaOrderInput" name="Order" ng-model="Cinema.Order" min="0" ng-maxlength="16" placeholder="Nhập thứ tự hiển thị" ng-disabled="ModalMode == 'detail'" />
                        <div ng-show="cinema_form.Order.$dirty && cinema_form.Order.$invalid||cinema_form.Order.$submitted">
                            <small class="has-error" ng-show="cinema_form.Order.$error.maxlength">
                                Bạn đã nhập quá 16 ký tự
                            </small>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label>Trạng thái</label>
                        <br />
                        <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                            <input type="checkbox" class="checkboxes ng-pristine ng-untouched ng-valid ng-not-empty" ng-model="Cinema.Status" ng-disabled="ModalMode == 'detail'">
                            <span></span>
                        </label>
                        <!--<input type="checkbox" name="Status" id="Status" ng-model="Cinema.Status">-->
                        <span class="label label-xs label-success" ng-if="Cinema.Status">Hoạt động</span>
                        <span class="label label-xs label-danger" ng-if="!Cinema.Status">Không hoạt động</span>
                    </div>
                </div>
            </div>
            <!--Hình ảnh-->
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="cinemaLatitudeInput">Mẫu số hóa đơn</label>
                        <input type="text" class="form-control" id="formNo" name="FormNo" ng-model="Cinema.FormNo" ng-maxlength="50" placeholder="Nhập vào mẫu số hóa đơn" ng-disabled="ModalMode == 'detail'" />
                        <div ng-show="cinema_form.FormNo.$dirty && cinema_form.FormNo.$invalid||cinema_form.FormNo.$submitted">
                            <small class="has-error" ng-show="cinema_form.FormNo.$error.maxlength">
                                Bạn đã nhập quá 50 ký tự
                            </small>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="cinemaLongitudeFInput">Ký hiệu hóa đơn</label>
                        <input type="text" class="form-control" id="sign" name="Sign" ng-model="Cinema.Sign" ng-maxlength="255" placeholder="Nhập vào ký hiệu hóa đơn" ng-disabled="ModalMode == 'detail'" />
                        <div ng-show="cinema_form.Sign.$dirty && cinema_form.Sign.$invalid||cinema_form.Sign.$submitted">
                            <small class="has-error" ng-show="cinema_form.Sign.$error.maxlength">
                                Bạn đã nhập quá 50 ký tự
                            </small>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="Picture">Hình ảnh rạp</label>
                        <button type="button" class="btn btn-sm btn-primary"
                                ngf-pattern="'.jpg,.png,.bmp,.gif'"
                                ngf-accept="'.jpg,.png,.bmp,.gif'"
                                ngf-maxsize="50MB"
                                multiple="true"
                                ngf-select="UploadFiles(item, $files,$invalidFiles)">
                            <i class="fa fa-upload"></i>
                            Tải ảnh
                        </button><br />
                        <div class="clearfix"></div>
                        <fieldset ng-if="Cinema.Picture.length !== 0">
                            <div style="height:200px; margin: 5px 5px 5px 5px; background-image: url({{Cinema.LinkPicture}});  background-position: center; background-repeat: no-repeat; background-size: cover;">
                                <p class="text-right">
                                    <a href="{{Cinema.LinkPicture}}" target="_blank"><i class="fa fa-external-link" aria-hidden="true" style="font-size:22px; margin-top:5px;"></i></a>
                                    <span ng-click="RemoveImage(Cinema)"><i class="fa fa-times input-sm" aria-hidden="true" style="font-size:22px; color:#FF0000; margin-top:5px;"></i></span> <br />
                                </p>
                                <div style="height:100px">
                                </div>
                            </div>
                        </fieldset>
                        <br />
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-sm btn-primary" ng-if="ModalMode !== 'detail'" ng-disabled="!cinema_form.$valid"><i class="fa fa-save"></i> Lưu</button>
            <button type="button" class="btn btn-sm btn-warning" ng-click="Button.Close.Click()"><i class="fa fa-ban"></i> Đóng</button>
        </div>
    </div>
</form>