<form name="pos_form" ng-submit="Button.Ok.Click()">
    <div class="modal-content cmodal">
        <div class="modal-header">
            <a href="javascript:;" ng-click="Button.Cancel.Click()" class="modal-close" aria-hidden="true"><i
                    class="fa fa-close"></i></a>
            <span class="modal-title">
                <span>Thêm mới điểm bán hàng</span>
            </span>
        </div>
        <div class="modal-body" id="modal-body">
            
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="Code">Mã POS <span class="required">(*)</span></label>
                        <input ng-disabled="POS.Disabled" type="text" ng-model="POS.Data.Code" class="form-control" placeholder="Nhập vào mã pos" required/>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="Name">Tên POS <span class="required">(*)</span></label>
                        <input ng-disabled="POS.Disabled" type="text" ng-model="POS.Data.Name" class="form-control" placeholder="Nhập vào tên POS" required/>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="Code">Thuộc rạp <span class="required">(*)</span></label>
                        <select class="form-control" ng-model="Cinema.Selected" ng-change="SearchPointOfSale()" ng-disabled="POS.Disabled">
                                <option value="ALL" selected="Cinema.Default">-- Chọn rạp --</option>
                                <option ng-repeat="item in Cinema.Data" value="{{item.CinemaId}}">{{item.Name}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="Name">Địa chỉ MAC</label>
                        <input ng-disabled="POS.Disabled" type="text" ng-model="POS.Data.MACAddress" class="form-control" placeholder="Nhập vào địa chỉ vật lý của máy" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="ScreenProjector">Mô tả</label>
                        <textarea rows="4" type="text" style="resize:vertical" id="Description" name="Description" ng-model="POS.Data.Description" class="form-control" placeholder="Nhập mô tả ..." ng-disabled="POS.Disabled"></textarea>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="ScreenProjector">Quyền tại POS</label>
                        <div class="form-group" ng-repeat="item in CONST_POS_ACTION_PERMISSION">
                            <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                <input ng-disabled="POS.Disabled" type="checkbox" class="checkboxes" ng-model="item.Checked">
                                <span></span>
                            </label>
                            <span class="label label-xs label-info ng-scope">{{item.Value}}</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                            <input ng-disabled="POS.Disabled" type="checkbox" class="checkboxes" ng-model="POS.Data.Status">
                            <span></span>
                        </label>
                        <span class="label label-xs label-success ng-scope" ng-if="POS.Data.Status">Hoạt động</span>
                        <span class="label label-xs label-danger ng-scope" ng-if="!POS.Data.Status">Không hoạt động</span>
                    </div>
                </div>
            </div>


        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-if="POS.Disabled" style="min-width : 85px!important"  ng-click="Button.Edit.Click()"><i class="fa fa-edit"></i> Cập nhật</button>
            <button class="btn btn-primary" type="submit" ng-disabled="pos_form.$invalid || Cinema.Selected == 'ALL'" style="min-width : 85px!important" ng-if="!POS.Disabled"><i class="fa fa-save"></i> OK</button>
            <button class="btn btn-warning" type="button" ng-click="Button.Cancel.Click()"><i class="fa fa-ban"></i> Cancel</button>
        </div>
    </div>
</form>