<div class="portlet light">
    <div class="portlet-title">
        <div class="caption caption-md">
            <span class="caption-subject bold theme-font-color uppercase">Quản lý điểm bán hàng</span>
        </div>

        <div class="inputs">
            <div class="portlet-input input-large input-inline">
                <div class="input-group" style="width: 100%">
                    <div class="input-icon right">
                        <i class="icon-magnifier" ng-click="Grid.Search()"></i>
                        <input type="text" ng-model="Search.Text" ng-keyup="$event.keyCode == 13 && Grid.Search()" class="form-control form-control-solid input-sm" placeholder="Tìm kiếm...." ng-pattern="word" required ng-trim="true" />
                    </div>
                    <!-- <span class="input-group-btn">
                        <button class="btn btn-primary" type="button" ng-click="AdvancedFilter.Visible =!AdvancedFilter.Visible;Filter.Text=''">
                            <i ng-if="!AdvancedFilter.Visible" class="fa fa-angle-down"></i>
                            <i ng-if="AdvancedFilter.Visible" class="fa fa-angle-up"></i>
                        </button>
                    </span> -->
                </div>
            </div>
        </div>

        <div class="actions pull-right">
            <button type="button" class="btn btn-danger" ng-if="Button.Delete.Visible" ng-click="Button.Delete.Click(1, null)">
                <i class="fa fa-trash"></i>&nbsp;
                Xóa
            </button>
            <button type="button" class="btn default" ng-disabled="AdvancedFilter.Visible" ng-click="Grid.Refesh()">
                <i class="fa fa-refresh"></i>
                Tải lại
            </button>
            <!-- <button type="button" ng-if="Button.Add.Visible  && Button.Add.GrantAccess" ng-disabled="!Button.Add.Enable" class="btn btn-primary" ng-click="Button.Add.Click()"> -->
            <button type="button" class="btn btn-primary" ng-click="Button.Add.Click()">
                <i class="fa fa-plus"></i>&nbsp;
                Thêm Mới
            </button>
        </div>
    </div>
    <div class="portlet-body">
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <select class="form-control" ng-model="Cinema.Selected" ng-change="Grid.Search()">
                            <option value="ALL" selected="true">-- Tất cả --</option>
                            <option ng-repeat="item in Cinema.Data" value="{{item.CinemaId}}">{{item.Name}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- TABLE GRID -->
            <div class="col-md-12 col-lg-12">
                <table class="table table-striped table-bordered table-hover table-checkable order-column dataTable no-footer">
                    <thead>
                        
                        <tr class="grid-header">
                            <th class="sorting_disabled" rowspan="1" colspan="1" style="width:4%;">
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input type="checkbox" class="group-checkable" ng-click="Grid.CheckAllItem()" ng-model="Grid.CheckAll" />
                                    <span></span>
                                </label>
                            </th>
                            <th ng-repeat="item in dataHeader" style="width:{{item.Width}}">
                                {{item.Value}}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in Grid.Data" ng-class="Grid.GetItemClass(item)">
                            <td>
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input type="checkbox" class="checkboxes" ng-click="Grid.CheckItem()" ng-model="item.Selected" ng-class="{selected: $index==selectedRow}">
                                    <span></span>
                                </label>
                            </td>
                            <td >
                                <span>{{$index +1}}</span>
                            </td>
                            <td>
                                <a href="javascript:void(0);" ng-click="Button.Detail.Click(item)" target="_self" class="item-title">{{item.Code}}</a><br />
                            </td>
                            <td>
                                <a href="javascript:void(0);" ng-click="Button.Detail.Click(item)" target="_self" class="item-title">{{item.Name}}</a><br />
                            </td>
                            <td>
                                {{item.CinemaName}}
                            </td>
                            <td>
                                <span ng-repeat="element in  item.ActionPermissionArr track by $index">
                                    <span ng-repeat="const in  CONST_POS_ACTION_PERMISSION">
                                        <b><span ng-if="element == const.Key">{{const.Value}}</span></b>
                                    </span>
                                    <b><span ng-if="($index + 1 < item.ActionPermission.length)">;</span></b>
                                </span>
                            </td>
                            <td>
                                <span class="label label-xs label-info ng-scope" ng-if="item.Status">Hoạt động</span>
                                <span class="label label-xs label-danger ng-scope" ng-if="!item.Status">Không hoạt động</span>
                            </td>
                            <td>
                                <button type="button" uib-tooltip="Xem chi tiết" class="btn btn-circle btn-icon-only green" ng-click="Button.Detail.Click(item)"><i class="fa fa-info"></i></button>
                                <button type="button" uib-tooltip="Cập nhật" class="btn btn-circle btn-icon-only blue" ng-click="Button.Update.Click(item)"><i class="fa fa-edit"></i></button>
                                <button type="button" uib-tooltip="Xóa" class="btn btn-circle btn-icon-only red" ng-click="Button.Delete.Click(2, item)"><i class="fa fa-trash"></i></button>
                            </td>
                        </tr>
                        <!-- <tr ng-if="Grid.Data.length ===0&&Grid.GrantAccess"><td colspan="20">Không có dữ liệu !</td></tr>
                        <tr ng-if="!Grid.GrantAccess"><td colspan="20">Bạn không có quyền xem dữ liệu</td></tr> -->
                    </tbody>
                </table>
            </div>
            <div class="clearfix"></div>
            <!-- PAGINATION -->
            <div class="col-md-12" data-ng-include="'/app-data/views/template/pagination/pagination.html'"></div>
            <!-- END PAGE CONTENT-->
        </div>
    </div>
</div>
