﻿<form name="roles_form" class="form-horizontal" ng-submit="Save()">
    <div class="modal-content cmodal">
        <div class="modal-header">
            <a href="javascript:;" ng-click="Button.Close.Click()" class="modal-close" aria-hidden="true"><i class="fa fa-close"></i></a>
            <span class="modal-title">
                <span>{{Form.Title}}</span>
            </span>
        </div>
        <div class="modal-body">
            <div class="clearfix"></div>
            <div class="form-group">
                <label class="col-md-3 control-label">Tên nhóm<span class="required">(*)</span></label>
                <div class="col-md-9">
                    <input type="text" ng-focus="true" name="RoleName" ng-model="Form.Item.RoleName" required ng-maxlength="255" placeholder="Nhập vào tên nhóm người dùng" class="form-control" />
                    <div ng-show="roles_form.RoleName.$dirty ||roles_form.$submitted">
                        <small class="has-error" ng-show="roles_form.RoleName.$error.required">
                            Bạn cần nhập tên nhóm người dùng
                        </small>
                        <small class="has-error" ng-show="roles_form.RoleName.$error.maxlength">
                            Bạn đã nhập quá 255 ký tự
                        </small>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="form-group">
                <label class="col-md-3 control-label">Mã nhóm<span class="required">(*)</span></label>
                <div class="col-md-9">
                    <input type="text" name="RoleCode" ng-model="Form.Item.RoleCode" pattern="[\x00-\x7F]*" required ng-maxlength="255" placeholder="Nhập vào mã nhóm người dùng" class=" form-control" />
                    <div ng-show="roles_form.RoleCode.$dirty && roles_form.RoleCode.$invalid||roles_form.$submitted">
                        <small class="has-error" ng-show="roles_form.RoleCode.$error.required">
                            Bạn cần nhập mã nhóm người dùng
                        </small>
                        <small class="has-error" ng-show="roles_form.RoleCode.$error.maxlength">
                            Bạn đã nhập quá 255 ký tự
                        </small>
                        <small class="has-error" ng-show="roles_form.RoleCode.$error.pattern">
                            Mã đơn vị/phòng ban phải nhập không dấu
                        </small>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="form-group">
                <label class="col-md-3 control-label">Phân quyền</label>
                <div class="col-md-9">
                    <!-- RIGHT Tree view -->
                    <script type="text/ng-template" id="treeItem">
                        <div class="tree-folder-header">
                            <!--<span ng-class="right.IsCollapse && right.SubRights.length>0 ? 'glyphicon glyphicon-expand':'glyphicon glyphicon-collapse-down'" ng-show="right.IsGroup" ng-click="TreeView.Right.Collapse(right)"></span>-->
                            <i ng-class="right.IsCollapse && right.SubRights.length>0 ? 'fa fa-plus-square':'fa fa-minus-square'" style="text-align:center;min-width: 9px" ng-show="right.IsGroup" ng-click="TreeView.Right.Collapse(right)"></i>
                            <div class="tree-folder-name">
                                <!--<span ng-if="!right.Status" class="text-muted" title="Không hoạt động"><i class="fa fa-minus-circle"></i></span>-->
                                <label ng-class="{'bold':right.IsGroup,'text-through':!right.Status}" class="mt-checkbox mt-checkbox-single mt-checkbox-outline margin-bottom-none" style="padding-left:25px !important">
                                    <input type="checkbox" class="mt-check" ng-model="right.Checked" ng-click="CheckBox.Right.CheckChange(right)" ng-disabled="!right.Status">
                                    {{right.RightName}}
                                    <span ng-hide="!right.SubRights.length>0 && right.IsGroup"></span>
                                </label>
                                <!--<span ng-if="!right.IsGroup" style="color:#ff0000b0" ng-click="Button.Delete.Click(right)" class="pull-right padding-right-10"><i class="fa fa-trash"></i></span>-->
                            </div>
                        </div>
                        <div class="tree-folder-content" ng-show="right.SubRights.length>0&&!right.IsCollapse">
                            <div ng-repeat="right in right.SubRights | filter:TreeView.Right.FilterText" ng-include="'treeItem'"></div>
                        </div>
                    </script>
                    <div id="catalog-tree" class="tree tree-plus-minus tree-no-line tree-unselectable">
                        <div class="input-icon right" style="border-radius: 0;margin-bottom: 7px; ">
                            <i class="icon-magnifier"></i>
                            <input type="text" class="form-control input-sm" ng-model="TreeView.Right.FilterText" placeholder="Tìm kiếm">
                        </div>
                        <div ng-if="TreeView.Right.Data.length!==0">
                            <a style="text-decoration:none" ng-click="TreeView.Right.SelectAll()" class="font-12">{{TreeView.Right.IsSelectAll?'Bỏ tất cả':'Chọn tất cả'}}</a>
                            <!--<label class="mt-checkbox mt-checkbox-single mt-checkbox-outline margin-bottom-none" style="padding-left:25px !important">
                                <input type="checkbox" class="mt-check" ng-model="right.Checked">
                                Chọn tất cả
                                <span></span>
                            </label>-->
                        </div>
                        <div id="catalog-tree2" class="tree-folder">
                            <div ng-repeat="right in TreeView.Right.Data | filter:TreeView.Right.FilterText" ng-include="'treeItem'"></div>
                        </div>
                    </div>
                </div>
            </div>         
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-save"></i> Lưu</button>
            <button type="button" class="btn btn-sm btn-warning" ng-click="Button.Close.Click()"><i class="fa fa-ban"></i> Đóng</button>
        </div>
    </div>
</form>