﻿<form name="user_form" class="form-horizontal">
    <div class="modal-content cmodal">
        <div class="modal-header">
            <a href="javascript:;" ng-click="Button.Close.Click()" class="modal-close" aria-hidden="true"><i class="fa fa-close"></i></a>
            <span class="modal-title">
                <span>{{Form.Title}}</span>
            </span>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <fieldset class="userInfo">
                        <legend class="bold">THÔNG TIN NGƯỜI DÙNG</legend>
                        <div class="col-md-12" style="padding-left:0px;">
                            <div class="form-group row">
                                <label class="control-label col-md-4">Tên tài khoản<span class="required">(*)</span></label>
                                <div class="col-md-8" ng-show="!FormMode.IsReadOnly">
                                    <div class="input-group" style="text-align:left;">
                                        <input type="text" ng-pattern="word" ng-focus="Autofocus" name="username" ng-change="Availability.Status = 0" ng-model="UserName" required ng-maxlength="255" ng-trim="false" ng-readonly="FormMode.IsEdit" placeholder="Nhập vào tên tài khoản" class="form-control " style="margin-top:unset !important" />
                                        <span class="input-group-btn" id="checkName" ng-click="CheckNameAvailability(UserName)">
                                            <!-- Default status -->
                                            <a href="javascript:;" class="btn green " ng-if="Availability.Status == 0" ng-class="isEdit?'disabled':''">
                                                <i class="fa fa-question"></i> Kiểm tra
                                            </a>
                                            <!-- Success status -->
                                            <a href="javascript:;" class="btn btn-primary " ng-if="Availability.Status == 1" disabled="disabled">
                                                <i class="fa fa-check"></i> Hợp lệ
                                            </a>
                                            <!-- Error status -->
                                            <a href="javascript:;" class="btn btn-warning " ng-if="Availability.Status == -1">
                                                <i class="fa fa-exclamation"></i> Không hợp lệ
                                            </a>
                                        </span>
                                    </div>
                                    <div class="has-error" ng-show="user_form.username.$dirty && user_form.username.$invalid">
                                        <!-- ERROR MESSAGES -->
                                        <small class="has-error" ng-show="user_form.username.$error.required">
                                            Bạn cần nhập tên tài khoản
                                        </small>
                                        <small class="has-error" ng-show="user_form.username.$error.maxlength">
                                            Bạn đã nhập quá 255 ký tự
                                        </small>
                                        <small class="has-error" ng-show="user_form.username.$error.pattern || user_form.username.$error.trim">
                                            Tên tài khoản tối thiểu 3 chữ, không chứa dấu cách, ký tự đặc biệt: /, ?, <,>, ...
                                        </small>
                                    </div>
                                </div>
                                <div class="col-md-8" ng-if="FormMode.IsReadOnly">
                                    <input type="text" ng-readonly="true" ng-model="UserName" class=" form-control bold" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-md-4">Nhân viên rạp<span class="required">(*)</span></label>
                                <div class="col-md-8">
                                    <ui-select name="cenima" ng-model="DropDownList.Cenima.Model" allow-clear="true" close-on-select="true" title="Chọn Rạp" ng-disabled="FormMode.IsEdit" style="width: 100%;" theme="bootstrap" required>
                                        <ui-select-match placeholder="--Chọn rạp--">{{$select.selected.Name}}</ui-select-match>
                                        <ui-select-choices ui-disable-choice="item.Status ===false" repeat="item as item in DropDownList.Cenima.Data | filter: $select.search">
                                            <div ng-class="item.Status===false?'text-mute':'text-bold'" ng-bind-html="item.Name | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>                                  
                                    <div class="error" ng-show="user_form.$submitted">
                                        <small ng-show="user_form.cenima.$error.required">Bạn cần chọn rạp</small>
                                        <small ng-show="user_form.cenima.$error.$untouched">Bạn cần chọn rạp</small>
                                    </div>
                                    <div class="error">
                                        <small ng-show="Select.DanhSachNhomOp.OrganizationId===null">Bạn cần chọn đơn vị/phòng ban</small>
                                    </div>
                                </div>
                                <div class="col-md-8" ng-if="FormMode.IsReadOnly">
                                    <input type="text" ng-readonly="true" ng-model="PhongBanInfo" class=" form-control" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-md-4 ">Tên đầy đủ<span class="required">(*)</span></label>
                                <div class="col-md-8">
                                    <input type="text" name="fullname" ng-model="FullName" ng-readonly="FormMode.IsReadOnly" ng-focus="FormMode.IsEdit" required ng-maxlength="255" placeholder="Nhập vào tên đầy đủ" class=" form-control" />
                                    <!-- ERROR MESSAGES -->
                                    <div class="has-error" ng-show="user_form.fullname.$dirty && user_form.fullname.$invalid">
                                        <small class="has-error" ng-show="user_form.fullname.$error.required">
                                            Bạn cần nhập tên đầy đủ
                                        </small>
                                        <small class="has-error" ng-show="user_form.fullname.$error.maxlength">
                                            Bạn đã nhập quá 255 ký tự
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row" ng-if="FormMode.IsAdd">
                                <label class="control-label col-md-4">Mật khẩu<span class="required">(*)</span></label>
                                <div class="col-md-8">
                                    <input type="password" name="password" autocomplete="off" required ng-maxlength="125" ng-model="Form.Item.Password" id="submit_form_password" placeholder="Nhập vào Mật khẩu" class=" form-control" />
                                    <div class="has-error" ng-show="user_form.password.$dirty && user_form.password.$invalid">
                                        <small ng-show="user_form.password.$error.required">Bạn cần nhập mật khẩu</small>
                                        <small class="has-error" ng-show="user_form.password.$error.maxlength">
                                            Bạn đã nhập quá 125 ký tự
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row" ng-if="FormMode.IsAdd">
                                <label class="control-label col-md-4">Xác nhận mật khẩu<span class="required">(*)</span></label>
                                <div class="col-md-8">
                                    <input type="password" name="confirm_password" autocomplete="off" ng-maxlength="125" placeholder="Nhập lại mật khẩu" class=" form-control" required data-password-verify="Form.Item.Password" ng-model='Form.Item.ConfirmedPassword' />
                                    <div class="has-error" ng-show="user_form.confirm_password.$dirty && user_form.confirm_password.$invalid">
                                        <small ng-show="user_form.confirm_password.$error.required">Bạn cần nhập lại mật khẩu</small>
                                        <small ng-show="user_form.confirm_password.$error.passwordVerify">Hai mật khẩu bạn nhập không giống nhau</small>
                                        <small class="has-error" ng-show="user_form.confirm_password.$error.maxlength">
                                            Bạn đã nhập quá 125 ký tự
                                        </small>
                                    </div>
                                </div>
                            </div>                        
                            <div class="form-group row hidden">
                                <label class="control-label col-md-4">Nick name</label>
                                <div class="col-md-8">
                                    <input type="text" name="NickName" ng-model="NickName" ng-readonly="FormMode.IsReadOnly" ng-maxlength="255" placeholder="{{IsInfo==true?'':'Nhập vào bút danh'}}" class=" form-control" />
                                    <!-- ERROR MESSAGES -->
                                    <div class="error" ng-show="user_form.NickName.$dirty && user_form.NickName.$invalid">
                                        <small class="has-error" ng-show="user_form.NickName.$error.required">
                                            Bạn cần bút danh
                                        </small>
                                        <small class="has-error" ng-show="user_form.NickName.$error.maxlength">
                                            Bạn đã nhập quá 255 ký tự
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-md-4">Số điện thoại</label>
                                <div class="col-md-8">
                                    <input type="text" name="Mobile" ng-model="Mobile" ng-readonly="FormMode.IsReadOnly" ng-maxlength="16" ng-minlength="7" ng-pattern="/^\s*(?:\+?(\d{1,3}))?([-. (]*(\d{3})[-. )]*)?((\d{3})[-. ]*(\d{2,4})(?:[-.x ]*(\d+))?)\s*$/"
                                           placeholder="{{IsInfo==true?'':'Nhập theo dạng 000 000 0000'}}" class=" form-control" />

                                        <!--{{user_form.Mobile.$invalid}} {{user_form.Mobile.$error.pattern}}-->
                                    <div class="error">
                                        <small class="has-error" ng-show="user_form.Mobile.$error.pattern">
                                            Bạn đã nhập sai định dạng
                                        </small>
                                        <small class="has-error" ng-show="user_form.Mobile.$error.maxlength">
                                            Bạn đã nhập quá 16 ký tự
                                        </small>
                                        <small class="has-error" ng-show="user_form.Mobile.$error.minlength">
                                            Bạn cần nhập lớn hơn 7 ký tự
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-md-4">Email</label>
                                <div class="col-md-8">
                                    <input type="email" name="email" ng-readonly="FormMode.IsReadOnly" ng-pattern="/^([\w+-.%]+@[\w-.]+\.[A-Za-z]{2,4})((,[\w+-.%]+@[\w-.]+\.[A-Za-z]{2,4}){1,})?$/" ng-model="Email" ng-maxlength="255" placeholder="{{IsInfo==true?'':'Nhập vào Email'}}" class=" form-control" />
                                    <div class="error" ng-show="user_form.email.$dirty && user_form.email.$invalid">
                                        <!-- ERROR MESSAGES -->
                                        <small class="has-error" ng-show="user_form.email.$error.required">
                                            Bạn cần nhập email
                                        </small>
                                        <small class="has-error" ng-show="user_form.email.$error.pattern">
                                            Bạn cần nhập đúng định dạng email
                                        </small>
                                        <small class="has-error" ng-show="user_form.email.$error.maxlength">
                                            Bạn đã nhập quá 255 ký tự
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row" ng-show="FormMode.IsEdit && Button.ChangePassword.GrantAccess">
                                <label class="control-label col-md-4">Mật khẩu<span class="required"></span> </label>
                                <div class="col-md-8">
                                    <input type="button" class="btn btn-sm btn-warning" value="Đổi mật khẩu" ng-click="Button.ChangePassword.Click()" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-md-4">Trạng thái</label>
                                <div class="col-md-8 padding-top-10">
                                    <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                        <input type="checkbox" class="checkboxes" ng-disabled="IsInfo" ng-model="Active" ng-init="Active=true">
                                        <span></span>
                                    </label>
                                    <span ng-class="Active===true?'label label-xs label-success':'label label-xs label-danger'">{{Active===true?'Hoạt động':'Không hoạt động'}}</span>
                                </div>
                                <!--<div class="col-md-8">
                                    <input type="checkbox" ng-model="Active" ng-disabled="isAdd||IsInfo">
                                </div>-->
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button title="Lưu" type="submit" ng-hide="IsInfo" ng-click="Button.Save.Click()" class="btn btn-sm btn-primary" data-dismiss="modal"><i class="fa fa-save"></i>&nbsp;Lưu</button>
            <button title="Đóng" type="button"  ng-click="Button.Close.Click()" class="btn btn-sm btn-warning"><i class="fa fa-ban"></i>&nbsp;Đóng</button>
        </div>
    </div>
</form>
