﻿
<div class="page-footer-inner">
    © 2018 SAVIS VIETNAM CORPORATION. Website : <a href="http://savis.vn/" target="_blank">http://savis.vn</a>
    <!--<br>
    Địa chỉ : số 22, lô 1C, đường Trung Yên 11C,Phường Trung Hòa,Quận Cầu Giấy, Hà Nội  <br>

    <br>-->
</div>
<div class="scroll-to-top">
    <i class="icon-arrow-up"></i>
</div>