﻿<div class="portlet light">
    <div class="portlet-title">
        <div class="caption caption-md">
            <span class="caption-subject bold theme-font-color uppercase">{{$state.current.data.pageTitle}}</span>
        </div>
        <div class="inputs">
            <div class="portlet-input input-large input-inline">
                <div class="input-group input-group-sm">
                    <div class="input-icon right">
                        <i class="icon-magnifier" ng-click="Grid.Search()"></i>
                        <input type="text" ng-disabled="AdvancedFilter.Visible" ng-model="Filter.Text" ng-keyup="$event.keyCode == 13 && Grid.Search()" class="form-control form-control-solid input-sm" placeholder="Tìm kiếm...." ng-pattern="word" required ng-trim="true" />
                    </div>
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button" ng-click="AdvancedFilter.Visible =!AdvancedFilter.Visible;Filter.Text=''">
                            <i ng-if="!AdvancedFilter.Visible" class="fa fa-angle-down"></i>
                            <i ng-if="AdvancedFilter.Visible" class="fa fa-angle-up"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <div class="actions pull-left">
            <button type="button" class="btn btn-sm default" uib-tooltip="Tải lại" ng-click="Button.Reload.Click()">
                <i class="fa fa-refresh"></i>&nbsp;
                <span>Tải lại</span>
            </button>
        </div>
    </div>
    <div class="portlet-body">
        <div class="row">
            <!-- ADVANCED SEARCH -->
            <form name="advanced_search_form" ng-submit="Grid.Search()" ng-show="AdvancedFilter.Visible">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Theo từ khóa</label>
                        <div class="">
                            <input type="text" ng-model="Filter.Text" class="form-control form-control-solid" placeholder="Nhập vào tên người dùng, tên đối tượng, tên tham chiếu..." ng-pattern="word" ng-trim="true">
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">Theo người dùng</label>
                        <ui-select class="form-group"
                                   ng-model="AdvancedFilter.Model.UserId"
                                   theme="bootstrap">
                            <ui-select-match allow-clear="true" placeholder="-- Chọn người dùng --">{{$select.selected.FullName}}</ui-select-match>
                            <ui-select-choices repeat="option.UserId as option in DropDownList.User.Data | filter: $select.search">
                                <div class="bold" ng-bind-html="option.FullName | highlight: $select.search"></div>
                                <small style="font-style:italic" ng-bind-html="option.UserName | highlight: $select.search"></small>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="control-label">Chọn nhanh</label>
                        <ui-select class="form-group"
                                   ng-model="DropDownList.DateOption.Model"
                                   ng-change="DropDownList.DateOption.SelectedChange()"                        
                                   theme="bootstrap">
                            <ui-select-match allow-clear="true" placeholder="-- Chọn thời gian --">{{$select.selected.Name}}</ui-select-match>
                            <ui-select-choices repeat="option in DropDownList.DateOption.Data track by option.Code | filter: $select.search">
                                <div ng-bind-html="option.Name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="control-label">Từ ngày</label>
                        <div class="input-group">
                            <input type="text"
                                   ng-model="AdvancedFilter.Model.FromDate"
                                   max-date="AdvancedFilter.Model.ToDate"
                                   class="form-control"
                                   ng-change="DropDownList.DateOption.SelectedChange('other','fromdate')"
                                   uib-datepicker-popup="dd/MM/yyyy"
                                   is-open="fromDateOpened"
                                   ng-model-options="{timezone: 'utc'}"
                                   close-text="Đóng" clear-text="Xóa" current-text="Hôm nay" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-md btn-default" ng-click="fromDateOpened=!fromDateOpened"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </div>
                        <!--<uib-timepicker ng-model="AdvancedFilter.Model.FromDate" hour-step="1" minute-step="1" datetimepicker-neutral-timezone></uib-timepicker>-->
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="control-label">Đến ngày</label>
                        <div class="input-group">
                            <input type="text"
                                   ng-model="AdvancedFilter.Model.ToDate"
                                   min-date="AdvancedFilter.Model.FromDate"
                                   class="form-control"
                                   ng-change="DropDownList.DateOption.SelectedChange('other','todate')"
                                   uib-datepicker-popup="dd/MM/yyyy"
                                   is-open="toDateOpened"
                                   ng-model-options="{timezone: 'utc'}"
                                   close-text="Đóng" clear-text="Xóa" current-text="Hôm nay" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-md btn-default" ng-click="toDateOpened=!toDateOpened"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </div>
                        <!--<uib-timepicker ng-model="AdvancedFilter.Model.ToDate" hour-step="1" minute-step="1" datetimepicker-neutral-timezone></uib-timepicker>-->
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">Theo hành động</label>
                        <ui-select multiple class="form-group" style="padding-bottom:4px !important"
                                   ng-disabled="disabled" close-on-select="false"
                                   ng-model="DropDownList.ActionTracking.DataSelected"
                                   theme="bootstrap">
                            <ui-select-match placeholder="-- Chọn loại hành động --">{{$item.Name}}</ui-select-match>
                            <ui-select-choices repeat="action in DropDownList.ActionTracking.Data track by action.Action | filter: $select.search">
                                <label ng-bind-html="action.Name | highlight: $select.search"></label>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group form-actions">
                        <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-filter"></i>&nbsp;Lọc dữ liệu</button>
                        <button type="button" class="btn btn-sm default" ng-click="Button.ResetAdvancedFilter.Click()"><i class="fa fa-refresh" aria-hidden="true"></i>&nbsp;Đặt lại</button>
                    </div>
                </div>
            </form>
            <!-- TABLE GRID-->
            <div class="col-md-12">
                <table class="table table-striped table-bordered table-hover table-checkable order-column dataTable no-footer">
                    <thead>
                        <tr class="grid-header">
                            <th ng-repeat="item in Grid.DataHeader" ng-class="Grid.GetItemHeaderClass(item)"
                                ng-click="Grid.ClickToHeader(item)" style="width:{{item.Width}}">
                                {{item.Value}}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-if="Grid.Data.length>0" ng-repeat="item in Grid.Data " ng-class="Grid.GetItemClass(item)">
                            <td>{{::$index + (Grid.PageNumber-1)*Grid.PageSize+1}}</td>
                            <td>{{item.FullName}}</td>
                            <td>{{item.LoggedOnDate | date :'dd/MM/yyyy hh:mm:ss a'}}</td>
                            <td>{{item.Object}}</td>
                            <td>
                                <span class="label label-{{action.Label}}" ng-repeat="action in Form.ActionStatus track by action.Action" ng-if="item.Action == action.Action ">{{action.Name}}</span>
                            </td>
                            <td ng-bind-html="FormMode.BindHtml(item.Reference)"></td>
                            <td>{{item.Description}}</td>

                        </tr>
                        <tr ng-if="Grid.Data.length ===0"><td colspan="20">Không có dữ liệu !</td></tr>
                    </tbody>
                </table>
            </div>
            <!-- PAGINATION -->
            <div class="col-md-12" ng-show="Grid.TotalCount>0" data-ng-include="'/app-data/views/template/pagination/pagination.html'"></div>
        </div>
    </div>
</div>